{% assign in_stock = false %}
{% for product in collection.products %}
  {% if product.available %}
    {% assign in_stock = true %}
{% endif %}
  {% endfor %}
{% if collection.products_count > 0 and in_stock %}
 <div class="row">
        <div class="boost-pfs-most-popular"></div>
      </div>
<div class="collection_faq">
<h2>Frequently Asked Questions About {{ collection.handle | capitalize | replace:'-', ' '}}</h2>
<div class="recommendations">
<div class="col-6 table_prom best_seller">          
  <h3>→ What are the top 5 best selling {{collection.handle | replace:'-', ' '}} in {{  "now" | date: "%Y" | replace:"2022","2023" }} on {{shop.name}}?</h3> 
  <table>
  <tbody>
    
   </tbody>
 </table>
     <script>
        $.ajax({
          url: '/collections/{{collection.handle}}?sort_by=best-selling',
          type:'GET',
          dataType:'Html'
       }).done(function(data){
           var main = $(data).find('.boost-pfs-filter-products  .boost-pfs-filter-product-bottom-inner');
           jQuery.each( main, function( i, val ) {         
            if(i < 5){
            console.log(val);
             var product_title = $(val).find('a.boost-pfs-filter-product-item-title').data('title'); 
             var product_url = $(val).find('a.boost-pfs-filter-product-item-title').data('url'); 
             var product_ava = $(val).find('a.boost-pfs-filter-product-item-title').data('available');
            if (product_ava = "true"){
             var products = '<a href="'+product_url+'">'+product_title+'</a>'
              $('.best_seller table tbody').append(products);
            }
          }
        }); 
    }) 
</script>
</div>
{%- assign counter2 = 0 -%}
<div class="col-6 table_prom">          
  <h3>→ What are the most beautiful {{collection.handle | replace:'-', ' '}} at {{shop.name}}?</h3> 
  <table>
  <tbody>
    {% assign collection_price = collection.products | sort: "price" %} 
     {% assign collection_price_rev = collection_price | reverse %} 
      {% for product in collection_price_rev %}
        {% unless counter2 > 4 %}
            {% if product.available %}
               {%- assign counter2 = counter2 | plus: 1 -%}
          <tr>
              <td> <a href="{{ product.url }}" ><span>{{ product.title }}</span></a></td>
          </tr>
               {% capture faq2 %}
                {{ product.title }}
              {% endcapture %}
            {% endif %}
        {% endunless %}  
      {% endfor %}
  </tbody>
  </table>
</div>
{%- assign counter3 = 0 -%}
<div class="col-6 table_prom" >          
  <h3>What are the best prices for the popular {{collection.handle | replace:'-', ' '}} at {{shop.name}}?</h3> 
  <table>
  <tbody >
      {% for product in collection_price %}
        {% unless counter3 > 4 %}
            {% if product.available %}
               {% if product.price > 0 %}
               {%- assign counter3 = counter3 | plus: 1 -%}
                  <tr>
                      <td> <a href="{{ product.url }}"><span >{{ product.title }}</span></a></td>
                      <td> <span >{{ product.price | money_with_currency }}</span></td>
                  </tr>
               {% capture faq3 %}
                {{ product.title }}
              {% endcapture %}
              {% endif %}
            {% endif %}
        {% endunless %}  
      {% endfor %}
  </tbody>
  </table>
</div>
</div>
</div>

 {%- assign counter2 = 0 -%}
{%- assign counter3 = 0 -%}
{% capture faq2 %}
{% for product in collection_price_rev %}
        {% unless counter2 > 4 %}
            {% if product.available %}
               {%- assign counter2 = counter2 | plus: 1 -%}
                  {{ product.title }}
            {% endif %}
        {% endunless %}  
      {% endfor %}
{% endcapture %}

{% capture faq3 %}
{% for product in collection_price %}
        {% unless counter3 > 4 %}
            {% if product.available %}
                {% if product.price > 0 %}
               {%- assign counter3 = counter3 | plus: 1 -%}
                 {{ product.title }}
              {% endif %}
            {% endif %}
        {% endunless %}  
      {% endfor %}
{% endcapture %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "What are the most beautiful {{collection.handle | replace:'-', ' '}} at {{shop.name}}?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "{{ faq2 }}"
    }
  },{
    "@type": "Question",
    "name": "What are the best prices for the popular {{collection.handle | replace:'-', ' '}} at {{shop.name}}?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "{{ faq3 }}"
    }
  }]
}
</script>

{% endif %}

{%- if collection.handle == "green-dresses" -%}
<div class="section_faq">
 <div class="widget-title not-before"><h2 class="box-title"><span class="title"><span>frequently asked questions</span></span></h2></div>            
<div class="faqs"><div class="faq">
<div class="acc-container">
   <div class="toggle">
  <div class="toggle-title">
    <h3>
    <span class="title-name">1. What Are The Top 5 Best Selling Green Dresses On Couture Candy?</span>
    </h3>
  </div>
  <div class="toggle-inner" style="display: none;">
    <p>Here are some of the top 5 best selling green dresses on Couture Candy:</p>
    <ul>
      <li><b>Cinderella Divine</b> - 7488 Draped Off Shoulder Gown With Slit</li>
      <li><b>Cinderella Divine</b> - CD160 Deep V Neck High Slit Metallic Pleated Gown</li>
      <li><b>Jovani</b> - 59993 Off Shoulder Bell Sleeve Draping Mermaid Gown</li>
      <li><b>Cinderella Divine</b> - CD0168 Plunging V-Neck Long Sleeve Mermaid Gown</li>
      <li><b>La Femme</b> - 28607 Sleeveless Deep V Neck High Leg Slit A-Line Gown</li>
    </ul>
  </div>
  </div>
  <!-- END OF TOGGLE -->
  
  
  <div class="toggle">
    <div class="toggle-title ">
      <h3>
      <span class="title-name">2. What Are The Most Beautiful Green Dresses At Couture Candy?</span>
      </h3>
    </div>
    
    <div class="toggle-inner" style="display: none;">
      <p>Below are some of the most beautiful green dresses that are offered by Couture candy. </p>
    <ul>
        <li><b>Sherri Hill</b> - 53348 Bateau Metallic Applique A-Line Dress</li>
        <li><b>La Femme</b> - 27630 Strapless Ruched Bodice Rhinestone Beaded Tulle Gown</li>
        <li><b>Jasz Couture</b> - 7306 Embellished Sleeveless V-Neck Trumpet Dress</li>
        <li><b>La Femme 30317</b> - Sheer Lace Dress</li>
        <li><b>La Femme</b> - 24158 Sophisticated Sparkling Sleeveless Beaded High Neck Two-Piece Dress</li>
    </ul>
    </div>
    </div><!-- END OF TOGGLE -->
    
    <div class="toggle">
      <div class="toggle-title">
        <h3>
        
        <span class="title-name">3.What Colors Can Be Paired With A Green Dress?</span>
        </h3>
      </div>
      
      <div class="toggle-inner" style="display: none;">
        <p>A green dress is very versatile, when it comes to  color pairing. For a fresh and vibrant look, mix complementary colors like pink or coral. Or if your want a more sophisticated outfit, look fo shades like gold or bronze to give an elegant contrast. Be  creative when it comes to experimenting and make sure to add a bit of your personality to your fit. </p>     
      </div>      
      </div><!-- END OF TOGGLE -->
      
  
    <div class="toggle">
      <div class="toggle-title">
        <h3>
      
        <span class="title-name">4. What Does Green Dressed Mean?</span>
        </h3>
      </div>
      
      <div class="toggle-inner" style="display: none;">
            <p>Green dressed refers to an ensemble or outfit predominantly featuring shades of green. It's a stylish choice that gives out a sense of freshness, nature, and elegance. Whether it's a vibrant emerald dress or a chic mossy green suit, going green with your fashion choices can make a bold and fashion-forward statement.</p>
          </div>      
      </div>
      <!-- END OF TOGGLE -->
      
  
    <div class="toggle">
      <div class="toggle-title">
        <h3>      
        <span class="title-name">5. What Are Some Styling Tips For A Green Dress?</span>
        </h3>
      </div>
      
      <div class="toggle-inner" style="display: none;">
        <p>Accessorize with gold: Add a touch of elegance to your green dress by accessorizing with gold accents. Opt for a statement gold necklace or a pair of metallic gold heels to complement the vibrant green hue.</p>
        <p>Embrace nature-inspired patterns: Emphasize the green theme by incorporating nature-inspired patterns into your ensemble. Consider pairing your dress with a floral-printed scarf or a leaf-shaped clutch to create a whimsical and trendy look.</p>

        <p>Contrast with bold colors: Create a striking contrast by combining your green dress with bold, vibrant colors. Try a pair of electric blue heels or a red belt to make your green dress pop and add an unexpected twist to your outfit.</p>
      </div>      
      </div><!-- END OF TOGGLE -->
     
</div>
</div></div>            
          </div>
<script async>  
$(document).ready(function () {
                 $(".toggle-inner").hide(),
                jQuery(".toggle .toggle-title").click(function () {
                    jQuery(this).hasClass("active") ? jQuery(this).removeClass("active").closest(".toggle").find(".toggle-inner").slideUp(200) : jQuery(this).addClass("active").closest(".toggle").find(".toggle-inner").slideDown(200);
                });
        });
</script>
{%- endif -%}