
<style>
  
.flits-account-page-content .flits-account-page-container{width:100% !important;max-width:1200px;padding:0 15px;}

 .flits-account-page-container .flits-account-page-header p.flits-h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px !important;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: normal !important;
}

.flits-account-page-container .flits-account-page-nav {
    background: #0f0f0f !important;
    border-radius: 0 !important;
}

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item.flits-active {
    border-left: inherit !important;
    border-radius: 0 !important;
    background: #e94949 !important;
    border-color: #e94949 !important;
}

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item {
    margin: 0!important;
    cursor: pointer;
    padding: 14px 15px;
    transition: .3s all;
    border-bottom: 1px solid #fff !important;
  border-radius:0 !important;
}

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item .flits-nav-link .flist-menu-title {
    font-size: 16px;
	color:#fff !important;
    font-weight: normal !important;
}

.flits-account-page-container.flits-has-hover .flits-account-page-nav .flits-nav-tabs .flits-menu-item:hover {
    opacity: 1!important;
    background: #e94949 !important;
}

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item .flits-nav-link .flits-badge-nav {
    min-width: 20px;
    border-radius: 25px;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    background: #e94949 !important;
}

  .flits-account-page-container.flits-has-hover .flits-account-page-nav .flits-nav-tabs .flits-menu-item:hover .flits-nav-link .flits-badge-nav{

 background: #fff !important;
  color:#e94949 !important; 
  }

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item.flits-active .flits-nav-link .flits-badge-nav{

 background: #fff !important;
  color:#e94949 !important; 
  }

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item .flits-nav-link .flits-badge-nav span.money {
    background: none !important;
}

  .flits-account-page-container .flits-account-page-header {
    width: 100%;
}

  .flits-account-section {
  display: flex;
    flex-wrap: wrap;
}

.flits-account-page-container .flits-account-page-nav {
    height: auto !important;
}

.flits-account-page-container.flits-has-hover .flits-account-page-nav .flits-nav-tabs .flits-menu-item:hover .flits-nav-link .flits-badge-nav span.money{
color:#e94949 !important;
}

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item.flits-active {
    border-bottom: 1px solid #fff !important;
}

.flits-account-page-container .flits-account-page-nav .flits-nav-tabs .flits-menu-item.flits-active .flits-nav-link .flits-badge-nav span.money{
  color: #e94949 !important;
}

.flits-tab-box-body p.flits-h2 {
    font-weight: 500;
    font-family: 'product_sans_mediumregular';
    margin-bottom: 30px !important;
    font-size: 30px;
    text-transform: capitalize;
}

.flits-account-page-container form input[type="text"], .flits-account-page-container form input[type="password"] {
     border-radius: 4px !important;
    height: 45px !important;
    padding: 10px !important;
    font-size: 14px !important;
}

  .flits-account-page-container form input[type="email"] {
     border-radius: 4px !important;
    height: 45px !important;
    padding: 10px !important;
    font-size: 14px !important;
}

 .flits-account-page-container form input[type="date"] {
     border-radius: 4px !important;
    height: 45px !important;
    padding: 10px !important;
    font-size: 14px !important;
}

.flits-account-page-container form input[type="tel"] {
    height: 45px !important;
    border-radius: 4px !important;
}

.flits-account-page-container form .flits-input-wrap .flits-country-drpdown {
    height: 45px;
}

.flits-account-page-container form .flits-input-wrap select {
    border-radius: 5px !important;
    height: 45px;
    font-size: 14px !important;
    padding: 10px;
}

  .flits-account-page-container form .flits-input-row input[type="checkbox"] {
    border-radius: 3px !important;
}

.flits-account-page-container form .flits-input-row input[type="checkbox"] + label.flits-input-label {
    font-size: 14px;
}

  .flits-account-page-container .flits-button.flits-primary-btn  {
    background: #e94949 !important;
    border-color: #e94949 !important;
    font-size: 16px;
    min-width: 115px;
    padding: 13px 10px !important;
}

.flits-account-page-container .flits-button.flits-primary-btn:hover, .flits-account-page-container .flits-button.flits-primary-btn:focus{
 background: #000 !important;
    border-color: #000 !important;
}

.flits-account-page-container.flits-has-hover .flits-button.flits-primary-btn:hover, .flits-account-page-container.flits-has-hover .flits-button.flits-primary-btn:not([disabled]):hover {
    background: #000 !important;
    border-color: #000 !important;
}

.flits-account-page-container .flits-button.flits-secondary-btn {
    border-color: #e94949 !important;
    color: #000 !important;
    padding: 13px 10px !important;
    min-width: 115px;
}

.flits-account-page-container .flits-button.flits-secondary-btn:hover , .flits-account-page-container .flits-button.flits-secondary-btn:focus{
 background: #e94949 !important;
    border-color: #e94949 !important;
	color:#fff !important;
	}

.flits-account-page-container.flits-has-hover .flits-button.flits-secondary-btn:hover, .flits-account-page-container.flits-has-hover .flits-button.flits-secondary-btn:not([disabled]):hover {
   background: #e94949 !important;
    border-color: #e94949 !important;
	color:#fff !important;
}

  .flits-account-page-container .flits-order-div .flits-button.flits-primary-btn {
    min-width: 175px;
    margin-top: 20px !important;
    padding: 15px !important;
}

.flits-account-page-container .flits-recently-view-div .flits-button.flits-primary-btn {
    min-width: 175px;
    margin-top: 20px !important;
    padding: 15px !important;
}

  .flits-account-page-container .flits-credit-box.flits-earn-credit-box {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    background: #fff;
}

.flits-account-page-container .flits-credit-box .flits-credit-title {
    font-size: 18px;
    font-family: 'product_sans_mediumregular';
}

.flits-account-page-container .flits-credit-box.flits-earn-credit-box .flits-credit-value {
    font-size: 24px;
}

.flits-account-page-container .flits-credit-box.flits-earn-credit-box {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    background: #fff;
}

.flits-account-page-container .flits-credit-box .flits-credit-title {
    font-size: 18px;
    font-family: 'product_sans_mediumregular';
}

.flits-account-page-container .flits-credit-box.flits-earn-credit-box .flits-credit-value {
    font-size: 24px;
}

.flits-account-page-container .flits-credit-box .flits-button.flits-primary-btn {
    min-width: 175px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 15px !important;
}

  .flits-account-page-container form .flits-button.flits-primary-btn.flits-change-pass-button {
    padding: 15px 25px !important;
    margin-top: 20px !important;
}

.flits-account-page-container form.flits-read-input .flits-input {
    height: auto !important;
    padding: 0 !important;
    font-weight: normal !important;
    font-size: 17px !important;
    font-family: 'product_sans_mediumregular';
}


.flits-account-page-container form.flits-read-input .flits-row {
    margin-left: 0;
    margin-right: 0;
}

.flits-account-page-container form.flits-read-input .flits-col-md-6 {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding-left: 0;
    padding-right: 0;
}

.flits-account-page-container form.flits-read-input  .flits-button.flits-primary-btn.flits-profile-edit-button {
    margin-top: 20px;
}

  .flits-account-page-container .flits-credit-box {
    background: #fff;
}

.flits-account-page-container .flits-product-quantity {
    position: relative;
    width: 100%;
    max-width: 120px;
    margin: 10px auto !important;
}

.flits-account-page-container .flits-product-quantity input.flits-input {
    height: 36px !important;
    padding: 8px 38px !important;
}

.flits-account-page-container .flits-product-card .flits-floating-label{
    margin-top: 20px !important;
}

.flits-account-page-container .flits-product-card .flits-floating-label label {
    font-size: 14px !important;
    line-height: 1.5;
}

.flits-account-page-container .flits-product-card .flits-product-image {
    height: auto;
}
  
@media only screen and (min-width:992px){
  .flits-account-page-container .flits-account-page-nav {
    background: #0f0f0f !important;
    width: 300px !important;
    border-radius: 0 !important;
}

.flits-account-page-container .flits-account-page-tabs {
    width: calc(100% - 300px);
    border: 1px solid #e0e0e0;
    padding: 40px 30px;
    background: #f8f8f8 !important;
    height: auto !important;
}
    
  }

@media only screen and (max-width:767px)
{

.flits-account-page-content .flits-account-page-container {
    margin-top: 10px;
    margin-bottom: 50px;
}
.flits-account-page-container .flits-account-page-header p.flits-h1 {
    font-size: 28px !important;
    margin-bottom: 0;
}

.flits-account-page-container .flits-account-page-tabs .flits-tabs-box .flits-tab-box {
    border: 1px solid #ccc;
    background: #f8f8f8;
}

.flits-account-page-container .flits-account-page-tabs .flits-tabs-box .flits-tab-box .flits-tab-box-header {
    border-radius: 0 !important;
    background: #0f0f0f;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}
.flits-account-page-container .flits-account-page-tabs .flits-tabs-box .flits-tab-box .flits-tab-box-body {
    padding: 30px 15px;
}
.flits-tab-box-body p.flits-h2 {
    font-size: 22px;
}
.flits-account-page-container .flits-account-page-tabs .flits-tabs-box .flits-tab-box .flits-tab-box-header .flits-tab-box-title {
    font-size: 18px;
    font-weight: normal !important;
    line-height: 1.2;
    padding: 0 75px;
}

.flits-account-page-container .flits-credit-box.flits-earn-credit-box .flits-credit-value {
    font-size: 20px;
}

.flits-account-page-container .flits-credit-box.flits-earn-credit-box {
    margin-bottom: 0;
}

}

@media only screen and (max-width: 350px){
.flits-account-page-container .flits-recently-view-product-list li, .flits-account-page-container .flits-wishlist-product-list li {
    min-width: 253px;
}

}
  
</style>



{% comment %} PLEASE DON'T MAKE CHANGES IN THIS FILE IT'S AFFECT THE CODE IF YOU NEED ANY HELP PLEASE CONTACT TO FLITS TEAM support@getflits.com {% endcomment %}

{% if shop.metafields.Flits.IS_WISHLIST_PAID == 1 and shop.metafields.Flits.IS_WISHLIST_ENABLE == 1 %}
  {%- comment -%} WISHLIST PRODUCT PAGE BUTTON {%- endcomment -%}
  {%- render 'flits_capture_code' with 'component',template:'comp_wishlistProdcutButton', class:'flits-template' -%}

  {%- comment -%} WISHLIST COLLECTION PAGE BUTTON {%- endcomment -%}
  {%- render 'flits_capture_code' with 'component',template:'comp_wishlistCollectionButton',class:'flits-template' -%}
{% endif %}

{% if shop.metafields.Flits.IS_STORE_CREDIT_PAID == 1 and shop.metafields.Flits.is_store_credit_enable == 1 %}
  {%- comment -%} STORE CREDIT CART PAGE DROPDOWN RENDER {%- endcomment -%}
  {%- render 'flits_capture_code' with 'component',template:'comp_storeCreditCartDropdown', class:'flits-template' -%}

  {% if shop.metafields.Flits.IS_REFER_PROGRAM_ON == 1 %}
    {%- comment -%} REFER FRIEND MODAL {%- endcomment -%}
    {%- render 'flits_capture_code' with 'component',template:'comp_referFriendModal' -%}
  {% endif %}
{% endif %}

{% if shop.metafields.Flits.IS_SOCIAL_LOGIN_PAID == 1 and shop.metafields.Flits.IS_SOCIAL_LOGIN_ENABLE == 1 %}
  {%- comment -%} SOCIAL LOGIN RENDER {%- endcomment -%}
  {% render 'flits_capture_code' with 'component',template:'comp_flitsSocialLoginLoader' %}

  {%- comment -%} SOCIAL LOGIN BUTTON RENDER {%- endcomment -%}
  {%- render 'flits_capture_code' with 'component',template:'comp_socialLoginButton' -%}
{% endif %}

{% if template contains 'customers/account' %}
    
  {% render 'flits_capture_code' with 'component',template:'contact_us_form' %}
  <div style="display: none">
    {% render 'flits_capture_code' with 'component',template:'comp_productCard' %}  
    {% render 'flits_capture_code' with 'component',template:'comp_topOrderCard', class: 'flits-top-order-card-template' %}
    {% render 'flits_capture_code' with 'component',template:'comp_menuItem' class:'flits-menu-item-template'%}
    {% render 'flits_capture_code' with 'component',template:'comp_flitsLoader', class:'flits-loader-template' %} 
    {% render 'flits_capture_code' with 'component',template:'comp_accountBody_card', class:'flits-body-card-template' %}
    {% render 'flits_capture_code' with 'component',template:'comp_order_card_skeleton' class: 'flits-skeleton-order-template' %}
    {% render 'flits_capture_code' with 'component',template:'comp_productSkeletonCard', class:"flits-skeleton-product-card-template" %}
    <div class="flits-orders-temp">
        <div class="flits-orders"></div>
    </div>
  </div>

{% endif %}

{% if customer %}
  {% assign flitsSecretKey = shop.metafields.Flits.SHOP_ID | append: shop.metafields.Flits.SHOP_TOKEN | append: shop.metafields.Flits.APP_PROXY | append: customer.id %}
  {% assign flitsSecureCustomerHash = customer.id | plus: shop.metafields.Flits.SHOP_ID | hmac_sha256: flitsSecretKey %}
{% endif %}
<script>
  window.flitsObjects&&void 0!==window.flitsObjects||(window.flitsObjects={});
  window.flitsObjects.global = {
    customerHash: '{{ flitsSecureCustomerHash }}',
    shop_name: '{{ shop.name }}',
    token: '{{ shop.metafields.Flits.SHOP_TOKEN }}',
    base_url: '/apps/{{ shop.metafields.Flits.APP_PROXY }}/api/{{ shop.metafields.Flits.APP_ID }}/{{ shop.metafields.Flits.SHOP_ID }}',
    proxy_name: '{{ shop.metafields.Flits.APP_PROXY }}',
    app_id: {{ shop.metafields.Flits.APP_ID }},
    shop_id: {{ shop.metafields.Flits.SHOP_ID }},
    shop_token: '{{ shop.metafields.Flits.SHOP_TOKEN }}',
    chandle: 'flits_products_handle',
    recent_handle: "flits_recently_products",
    cemail: "flits_customer_email",
    customJsURL:"{{ 'flits_custom.js' | asset_url }}",
    shop_currency: '{{ shop.currency }}',
    shopCountryName: '{{ shop.address.country }}',
    defualtCountry: 'US',
    money_format: '{{ shop.money_format | escape }}',
    money_format_replace: { moneyReplaceRegex:/((\,00)|(\.00))$/g, replaceTo: ''},
    Metafields: {{ shop.metafields.Flits | json }},
    locals: {},
    fromCache: true,
    cacheTime: 5
  };
  {%- assign flits_multilanguage = 'flits' | t | replace:'&quot;','"' | replace:'=&gt;',':' | json -%}
  {%- unless flits_multilanguage contains 'translation missing:' -%}
  window.flitsObjects.global.locals = JSON.parse({{ flits_multilanguage }});
  {%- endunless -%}
  window.flitsObjects.accountPage = {};
  window.flitsObjects.StoreCreditCartPage = {
    isCodeAutomatic: {% if shop.metafields.Flits.is_cart_code_automatic %} {{ shop.metafields.Flits.is_cart_code_automatic }} {% else %} 1 {% endif %}
  };
  window.flitsObjects.allCssJs = {
    flitsCss:{
      name:"flitsCss",
      url:"{{- 'flits.css' | asset_url -}}",
      requestPageType:["all"],
      relatedTo:"GENERAL",
      loadBasedOnMetafields:[],
    },
    accountCss:{
      name:"accountCss",
      url:"{{- 'flits_account.css' | asset_url -}}",
      requestPageType:["customers/account"],
      relatedTo:"ACCOUNT",
      loadBasedOnMetafields:[],
    },
    customCss:{
      name:"customCss",
      url:"{{- 'flits_custom.css' | asset_url -}}",
      requestPageType:["all"],
      relatedTo:"CUSTOM",
      loadBasedOnMetafields:[],
    },
    libphoneNumberJs:{
      name:"libphoneNumberJs",
      url:"https://unpkg.com/libphonenumber-js@1.9.10/bundle/libphonenumber-max.js",
      requestPageType:["customers/account"],
      relatedTo:"PHONE NUMBER",
      loadBasedOnMetafields:[],
    },
    tooltipPopperJs:{
      name:"tooltipPopperJs",
      url:"https://unpkg.com/@popperjs/core@2.5.3/dist/umd/popper.min.js",
      requestPageType:["collection","product", "customers/account"],
      relatedTo:"TOOLTIP",
      loadBasedOnMetafields:[],
    },
    tooltipTippyJs:{
      name:"tooltipTippyJs",
      url:"https://unpkg.com/tippy.js@6.2.7/dist/tippy-bundle.umd.min.js",
      requestPageType:["collection","product", "customers/account"],
      relatedTo:"TOOLTIP",
      loadBasedOnMetafields:[],
    },
    customJs:{
      name:"customJs",
      url:"{{- 'flits_custom.js' | asset_url -}}",
      requestPageType:["all"],
      relatedTo:"CUSTOM",
      loadBasedOnMetafields:[],
      status:1,
    },
    accountJs:{
      name:"accountJs",
      url:"{{- 'flits_account.js' | asset_url -}}",
      requestPageType:["customers/account"],
      relatedTo:"ACCOUNT",
      loadBasedOnMetafields:[],
    },
    wishlistJs:{
      name:"wishlistJs",
      url:"{{- 'flits_wishlist.js' | asset_url -}}",
      requestPageType:["collection","product"],
      relatedTo:"WISHLIST",
      loadBasedOnMetafields:["IS_WISHLIST_PAID","IS_WISHLIST_ENABLE"],
    },
    socialLoginJs:{
      name:"socialLoginJs",
      url:"{{- 'flits_social_login.js' | asset_url -}}",
      requestPageType:["customers/login","customers/register"],
      relatedTo:"SOCIAL_LOGIN",
      loadBasedOnMetafields:["IS_SOCIAL_LOGIN_PAID","IS_SOCIAL_LOGIN_ENABLE"],
    },
    cartJs:{
      name:"cartJs",
      url:"{{- 'flits_cart.js' | asset_url -}}",
      requestPageType:["cart"],
      relatedTo:"STORE_CREDIT",
      loadBasedOnMetafields:["IS_STORE_CREDIT_PAID","is_store_credit_enable", ["CREDIT_DISPLAY_ON","==","cart"], ["customer_id",'!=','-1']],
    },
    referFriendJs:{
      name:"referFriendJs",
      url:"{{- 'flits_refer_friend.js' | asset_url -}}",
      requestPageType:["customers/register"],
      relatedTo:"STORE_CREDIT",
      loadBasedOnMetafields:["IS_STORE_CREDIT_PAID","is_store_credit_enable","IS_REFER_PROGRAM_ON"],
    }
  };
  window.flitsObjects.storeData = {
    request:{
      host:"{{- request.host -}}",
      page_type: "{{- request.page_type -}}",
      path:"{{- request.path -}}",
    },
    template:{
      directory: "{{- template.directory -}}",
      name: "{{- template.name -}}",
      suffix: "{{- template.suffix -}}",
    },
    theme:{
      id:"{{- theme.id -}}",
      name:"{{- theme.name -}}",
    },
    jsonSettingsPath:"{{ 'flits_template_settings.json' | asset_url }}",
    product:{{ product | json }},
    cart: {{ cart | json }},
    shop_currency: '{{ shop.currency }}',
    money_format: '{{ shop.money_format | escape }}',
    customer_id: '{{ customer.id }}',
    customer_email: '{{ customer.email }}',
    customer_accepts_marketing: '{{ customer.accepts_marketing }}',
    customer_orders_count: '{{ customer.orders_count }}'
  };
  window.flitsObjects.global.Metafields.customer_id = {% if customer %} "{{- customer.id -}}" {% else %} -1 {% endif %};
  window.flitsObjects.storeData.customer_id = {% if customer %} "{{- customer.id -}}" {% else %} -1 {% endif %};
</script>

<script defer src="{{ 'flits.js' | asset_url }}" ></script>
<script defer src="{{ 'flits_custom.js' | asset_url }}"></script>
{% render 'flits_custom_snippet' %}
