<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->  
<!--[if lte IE 9]><script src="{{ 'lazysizes.js' | asset_url }}"></script><![endif]-->

{%- include 'theme_string' -%}
  
{%- if template.directory == 'customers' -%}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
{%- endif -%}

{% if admin_shopify -%}
{{ 'animate.min.css' | asset_url | stylesheet_tag }}
<script async="async" src="{{ 'waypoints.min.js' | asset_url }}"></script>
<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl_section.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'js_cp_gl_section.min.js' | asset_url }}"></script><![endif]-->
{%- elsif section_js_enable -%}
{{ 'animate.min.css' | asset_url | stylesheet_tag }}
<script async="async" src="{{ 'waypoints.min.js' | asset_url }}"></script>
<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->
{%- endif -%}  

{%- include 'gl_bottom_js'-%}
<!--=========================================Footer=========================================-->
<!-- google dynamic remarketing tag for theme.liquid -->

{% if template contains 'product' %}
<script type="text/javascript">
    var json_product = {{ product | json }};
</script>
<script>
    var ecomm_prodid=[];
    for(var i=0;i<json_product.variants.length;i++)
    ecomm_prodid.push('shopify_US_{{product.id}}_'+json_product.variants[i].id);
</script>
<script type="text/javascript">
    var google_tag_params = {
    ecomm_prodid: ecomm_prodid,
    ecomm_pagetype: 'product',
    ecomm_totalvalue: parseFloat('{{ product.price | money_without_currency | remove: ","}}')
    };
</script>
{% elsif template contains 'collection' %}
<script type="text/javascript">
    var google_tag_params = {
    ecomm_pagetype: 'category'
    };
</script>
{% elsif template contains 'cart' %}
<script type="text/javascript">
    var id = new Array();
    {% for item in cart.items %}
    id.push('shopify_US_{{item.product.id}}_{{item.variant.id}}');
    {% endfor %}

    var google_tag_params = {
     ecomm_prodid: id,
     ecomm_pagetype: 'cart',
     ecomm_totalvalue: parseFloat('{{ cart.total_price | money_without_currency | remove: ","}}')
    };
</script>
{% elsif template contains 'search' %}
<script type="text/javascript">
    var google_tag_params = {
    ecomm_pagetype: 'searchresults'
    };
</script>
{% elsif template contains 'index' %}
<script> (function(src, callback){var s, r, t; r = false; s = document.createElement('script'); s.type = 'text/javascript';s.src = src; s.onload = s.onreadystatechange = function() { if ( !r && (!this.readyState || this.readyState == 'complete') ) { r = true; callback(); } };t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);}('https://biz.sitejabber.com/js/widget.min.1589224101.js', function() { new STJR.ReviewCarouselWidget({ id: 'reviewCarouselWidget',url:'couturecandy.com'}).render(); }) );</script>
<script type="text/javascript">
    var google_tag_params = {
    ecomm_pagetype: 'home'
    };
</script>
{% else %}
<script type="text/javascript">
    var google_tag_params = {
    ecomm_pagetype: 'other'
    };
</script>
{% endif %}
<script>
    gtag('event', 'page_view', {'send_to': 'AW-950821702',
    'ecomm_prodid':window.google_tag_params.ecomm_prodid,
    'ecomm_pagetype': window.google_tag_params.ecomm_pagetype,
    'ecomm_totalvalue':window.google_tag_params.ecomm_totalvalue
    });
</script>

<!-- Begin Google Analytics Vertical Attributes -->
<script type="text/javascript">
    ga('set','dimension1', '{% if template contains "product" %}shopify_US_{{product.id}}_{{product.variants.first.id}}{% endif %}');
    ga('set','dimension2', '{{product.price_min|money_without_currency}}');
    ga('set','dimension3', '{{template}}');
</script>

<script>
    var replaced = false;  
    var threshold =10;
    var scrolled =0;   
     $(window).on('keyup keypress scroll touch click mousemove', function(e) {
       scrolled++;
       if(!replaced && scrolled>threshold ){
          console.log('yett unblocked');
             window.yett.unblock() ;
             replaced = true;
       }
     })

setTimeout(function(){ 
 var pageURL = $(location).attr("href");
 var Lastpage_visit = sessionStorage.getItem("LastpageURL");
  if (!Lastpage_visit || Lastpage_visit != pageURL) {
      sessionStorage.setItem('LastpageURL',pageURL);
  }
 var lastCount = parseInt(sessionStorage.getItem("pages_view"));
 var value = 0;
 if (!lastCount) {
    value = 1;
 }else{
    if (pageURL != Lastpage_visit) {
        value = lastCount + 1;
      if (value > 2) {
        gtag('event', 'conversion', {'send_to': 'AW-950821702/Tyf0CKHIi-oBEMbGscUD'});
      }
    }else{
      value = lastCount;
    }
 }
 sessionStorage.setItem('pages_view',value);
}, 1000);
  
  $(document).ready(function() {
    // Configure/customize these variables.
    var showChar1 = 500;  // How many characters are shown by default
    var ellipsestext1 = "...";
    var moretext1 = "Read more";
    var lesstext1 = "Read less";

    $('#collectionbottomdescription').each(function() {
        var content1 = $(this).html();
        if(content1.length > showChar1) {
            var c1 = content1.substr(0, showChar1);
            var h1 = content1.substr(showChar1, content1.length - showChar1);
            var html1 = c1 + '<div class="morecontent" style="display: none;">' + h1 + '</div>&nbsp;&nbsp;<a href="" class="morelink">' + moretext1 + '</a>';
            $(this).html(html1);
        }

    });

    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext1);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext1);
        }
        $(this).prev().toggleClass('showed');
        return false;
    });
});
   
  $(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 700;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Read more";
    var lesstext = "Read less";

    $('.Block.BlockContent.banner_category_page_top').each(function() {
        var content = $(this).html();
        if(content.length > showChar) {
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
            var html = c + '<div class="morecontent" style="display: none;">' + h + '</div>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a>';
            $(this).html(html);
        }

    });

    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).prev().toggleClass('showed');
        return false;
    });
}); 
</script>

<!--Gorgias Chat Widget Start-->
<script>!function(_){_.GORGIAS_CHAT_APP_ID="550",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/550",!0),e.onload=function(n){if(4===e.readyState)if(200===e.status){var t=JSON.parse(e.responseText);if(!t.application||!t.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/550");if(_.GORGIAS_CHAT_APP=t.application,_.GORGIAS_CHAT_BUNDLE_VERSION=t.bundleVersion,t&&t.texts&&(_.GORGIAS_CHAT_TEXTS=t.texts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://storage.googleapis.com/gorgias-chat-production-client-builds/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",t.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/550")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script>
<script>!function(n){n.IS_SHOPIFY=!0,n.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",n.SHOPIFY_CUSTOMER_ID="{{customer.id}}"}(window||{});</script><!--Gorgias Chat Widget End--> 
