<div class="site-logo">
  {%- if settings.body_logo_svg == 'blank' -%}
   {%- if template == 'index' -%}
     <h1 class="basel-logo-wrap" itemscope itemtype="http://schema.org/Organization" style="font-family: 'Playfair Display', serif;">
   {%- else -%}
     <div class="basel-logo-wrap" itemscope itemtype="http://schema.org/Organization">
   {%- endif -%}
      <a href="/" class="basel-logo basel-main-logo" rel="home" itemprop="url">
      {%- if settings.body_logo_svg != blank -%}
        <img src="{{ settings.body_logo_svg | file_url }}" alt="{{ image.alt | default: shop.name }}" itemprop="logo">               
      {%- elsif settings.body_logo_image != blank -%}
      {%- assign image = settings.body_logo_image -%}
      {%- assign image_width = image.width | append:'x' -%}
       {%- if image.width > 600 -%}
        {%- assign image_width = '600x' -%}
        {%- endif -%}
      <img class="regular-logo" src="{%-include 'gl_image_format',src: image , size: image_width -%}" srcset="{{ image | img_url: image_width }} 1x, {{ image | img_url: image_width, scale: 2 }} 2x" alt="{{ image.alt | default: shop.name }}" itemprop="logo">
      {%- else -%}
      {{shop.name}}
      {%- endif -%}
      </a>
   {%- if template == 'index' -%}
     </h1>
   {%- else -%}
     </div>
   {%- endif -%}
   {%- else -%}
   <div class="site-logo"><h1 class="basel-logo-wrap" itemscope="" itemtype="http://schema.org/Organization" style="font-family:'Playfair Display', serif"><a href="/" class="basel-logo basel-main-logo" rel="home" itemprop="url"> <img src="https://cdn.shopify.com/s/files/1/0144/7018/5017/files/cc-logo.png?v=1672036929" alt="CoutureCandy" itemprop="logo"> </a></h1></div>
   {%- endif -%}
  </div>