<div class="container">
   <div class="wrapp-header">
     <div class="header_middle_block">
       <div class="switchers col-4"></div>
       <div class="logo col-4">{%- include 'gl_logo' -%}</div>
       <div class="search col-4"> <div id="shopify_product_search-14" class="header-widget shopify widget_product_search">
          <div class="search-extended">
            <form role="search" method="get" id="searchform" class="searchform has-categories-dropdown{%- if settings.ajax_search %} basel-ajax-search{%- endif -%}" action="/search?q=bags">
              <div>
                <label class="screen-reader-text" for="q"></label>
                <input type="text" placeholder="{{ 'general.search.placeholder' | t }}" value="{%- if search.terms != blank -%}{{search.terms}}{%- endif -%}" name="q" id="q" autocomplete="off">
                <input type="hidden" name="type" value="product" />
                {%- if settings.enable_select_category -%}
                {%- section 'gl_search-by-category' -%}
                {%-  endif -%}
                <button type="submit" id="searchsubmit">{{ 'general.search.submit' | t }}</button>
              </div>
            </form>
            <div class="search-results-wrapper">
              <div class="basel-search-results">
                <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
              </div>
            </div>
          </div>
        </div></div>
     </div>
     
      <div class="main-nav site-navigation basel-navigation menu-{{settings.basel_menu_align}}" role="navigation">{%- section 'gl_mega_menu' -%}</div>
      <!--END MAIN-NAV-->
      <div class="right-column">
        {%- include 'header_account' -%} 
       <div class="number-and-social-top-bar" style="display: inline-block;font-size: 13px;font-family: &quot;&quot;,Helvetica,sans-serif;color: #333;">
     	 		Call Us:<span style="margin-left:10px;"><a href="tel:(855)445-8601">(855) 445-8601</a></span>
 		</div>
        {%- include 'header_wishlist' -%}         
         {%- unless settings.cart_design == 'disable' or settings.catalog_mode or template contains 'cart' -%}
         <div class="shopping-cart basel-cart-design-{{settings.cart_design}} basel-cart-icon{%- if settings.cart_position == 'side' %} cart-widget-opener{%- endif %}{%- if settings.shopping_icon_alt %} basel-cart-alt{%- endif -%}">
            <a href="/cart">
               <span>Cart (<span class="cartCount">{{ cart.item_count }}</span>)</span>
               <span class="basel-cart-totals">
                  <span class="basel-cart-number cartCount">{{ cart.item_count }}</span>
                  <span class="subtotal-divider">/</span> 
                  <span class="basel-cart-subtotal"><span class="shopify-Price-amount amount">{{ cart.total_price | money }}</span></span>
               </span>
            </a>
            {%- if settings.cart_position == 'dropdown' -%}
            <div class="dropdown-wrap-cat">{%- include 'cart_widget_side' -%}</div>
            {%- endif -%}
         </div>
         {%- endunless -%}
         <div class="mobile-nav-icon">
            <span class="basel-burger"></span>
         </div>
         <!--END MOBILE-NAV-ICON-->
      </div>
   </div>
</div>