{% capture "form_classes" -%}
add-to-cart-form cart{%- if product.variants.size > 1 %} variations_form{%-endif %}
{%- if settings.show_watch_products %} swatch-color-single{%- endif -%}
{%- endcapture %}
{%- form 'product', product, id: "cart-form", class: form_classes -%}
<select name="id" id="product-select" class="product-form__variants hide hidden">
  {%- for variant in product.variants -%}
      <div nes_estimate style="display: none;">{{ variant.metafields.estimate.date }}</div>

<option  data-sku="{{ variant.sku }}" data-index="{{ forloop.index0 }}" value="{{ variant.id }}"{%- if variant.id == current_variant.id %} selected="selected"{%- endif -%}>{{ variant.title }}</option>
  {%- endfor -%}
</select>
{%- if product.has_only_default_variant == false and settings.swatch_design != '3' -%}{%- include 'swatch' -%}{%- elsif product.has_only_default_variant == false and settings.swatch_design == '3' -%}{%- include 'swatch_simple' -%}{%- endif -%}
<div class="quantity_test" style="margin-top: 10px;">
<div id="variant-inventory"> </div>
{% comment %}  {% if product.vendor == 'Jovani' or product.vendor == 'Ellie Wilde' or product.vendor == 'Faviana' or product.vendor == 'Mac Duggal' or product.vendor == 'Dancing Queen' or product.vendor == 'Alyce Paris' or product.vendor == 'La Femme' %}
         {%- if current_variant.inventory_quantity <= 0 and current_variant.price > 0 -%}
           {%- else -%}
                <div class="callback">We currently have <span id="vistorspan">5</span> in stock.</div>
          {%- endif -%}
      {% endif %}{% endcomment %}
  {%- if current_variant.inventory_quantity <= 0 and current_variant.price > 0 -%}
           {%- else -%}
                <div class="callback">We currently have <span id="vistorspan">5</span> in stock.</div>
          {%- endif -%}
      {%- if settings.show_real_time_visitor -%}
          {% if product.vendor == 'Jovani' or product.vendor == 'Ellie Wilde' %}
                <div class="fake_counter_real_time gl_pt_15">
                     {{settings.text_real}} <span id="number_counter"><span>4</span>
                     <i class="fa fa-bolt" aria-hidden="true"></i></span> {{settings.text_visitor}}
                </div>
          {%- endif -%}
    {%- endif -%}
  </div>      
{%- if product.variants.size > 1 -%}
  <div class="single_variation_wrap {% if product.available %}{%- else -%}full-width{%- endif -%}">
       {%- if product.price_varies -%}
      <!--  <div class="shopify-variation single_variation">
           <div class="shopify-variation-price">
             <span style="display: none;" class="price" id="productPrice">
               {%- if on_sale -%}<del id="old-product-price">{{ current_variant.compare_at_price | money }}</del> <ins id="product-price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price_3" data-override-value-set="1" data-override-value="{{ current_variant.price }}" style="display:none !important;"></span>{{ current_variant.price | money }}</ins>
               {%- else -%}
               <span id="product-price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price_4" data-override-value-set="1" data-override-value="{{ current_variant.price }}" style="display:none !important;"></span>{{ current_variant.price | money }}</span> 
               {%- endif -%}
             </span>-
           </div>
        </div> -->
        {%- endif -%}
       {%- if settings.product_quantity_message -%}
          <div id="variantQuantity" class="variant-quantity{%- if product.has_only_default_variant and current_variant.inventory_management %} show{%- endif -%}">
             {%- if product.has_only_default_variant and current_variant.inventory_management -%}
                {%- if current_variant.inventory_quantity < 10 and current_variant.inventory_quantity > 0 -%}
                   {{ 'products.product.only_left' | t: count: current_variant.inventory_quantity }}
                {%- elsif current_variant.inventory_quantity <= 0 and current_variant.incoming -%}
                  {%- assign next_incoming_date = current_variant.next_incoming_date | date: format: 'month_day_year' -%}
    {{ 'products.product.will_not_ship_until' | t: date:next_incoming_date }}
                {%- endif -%}
             {%- endif -%}
          </div>
          {%- endif -%}
      <div class="shopify-variation-add-to-cart variations_button shopify-variation-add-to-cart-enabled">
          <div id="shopify_quantity" class="quantity">
             <input type="button" value="-" class="minus">
             <input type="number" step="1" min="1" max="{%- if current_variant.inventory_quantity <= 0 and current_variant.available and current_variant.inventory_management != null -%}999{%- elsif current_variant.inventory_management != null -%}{{current_variant.inventory_quantity}}{%- else -%}999{%- endif -%}" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
             <input type="button" value="+" class="plus">
          </div>
          <p class="stock out-of-stock variant_stock" id="out-of-stock-gl" style="display: none">{{ 'products.product.outofstock' | t }}</p>
          <p class="stock out-of-stock variant_stock" id="unavailable-gl" style="display: none">{{ 'products.product.unavailable' | t }}</p>
          
          {%- if check_external == false -%}
          {%- if current_variant.inventory_quantity <= 0 and current_variant.available and current_variant.inventory_management == 'shopify' -%}
             <button type="submit" id="shopify_add_to_cart" class="add_to_cart_button ajax_form_cart single_add_to_cart_button button alt if">{{ 'products.product.pre_orders' | t }}</button>
         {%- else -%}
         {% if product.available %} 
              {% if product.vendor == 'Wilderly Bride by Allure Bridals' or product.vendor == 'Mori Lee Bridal' or product.vendor == 'Primavera Bridal' or product.vendor == 'Alyce Paris ' or product.price <= 0 %}
                <span class="contact_us_button test1"><a class="button" href="/pages/contact-us">Contact Us</a></span>
              {% else %}
                  <button type="submit"  id="shopify_add_to_cart" class="add_to_cart_button ajax_form_cart single_add_to_cart_button button alt else {%- if current_variant.inventory_quantity > 1100 -%} futureDDays_popup nbsp   {%- endif -%}  ">{{ 'products.product.add_to_cart' | t }}</button>
              {%- endif -%}
                  <div class="PreOrder__popup" style="display: none;">
                   <div class="PreOrder__popup-shadow"></div>
                      <div class="PreOrder__popup-window">
                        <div class="PreOrder__popup-close">×</div>
                        <div class="PreOrder__popup-content">
                          <p>THE SIZE AND COLOR COMBINATION YOU'VE SELECTED IS</p>
                          <p class="large">NOT IN STOCK</p>
                          <p>THIS SPECIAL ORDER* ITEM IS ESTIMATED TO SHIP <BR> FROM OUR WAREHOUSE AFTER</p><br>
                           <span id="futureDDays"></span>
                          <button id="shopify_add_to_cart" class="add_to_cart_button ajax_form_cart single_add_to_cart_button button alt" >Agree</button>
                          <p>*See Cancellation Policy on Special Order Item</p>
                        </div>
                      </div>
                    </div>
            {%- endif -%}
        {%- endif -%}
          {%- else -%}
          <a href="{{ check }}" rel="nofollow" class="single_add_to_cart_button button alt">{{ product.metafields.external | first | first }}</a>
          {%- endif -%}
       </div>                                          
    {% include 'iwish_v2' with 'iwishproduct' %}
  
   </div>
{%- else -%}
    {%- if settings.product_quantity_message -%}
       <div id="variantQuantity" class="variant-quantity{%- if product.variants.size == 1 and current_variant.inventory_management %} show{%- endif -%}">
          {%- if product.variants.size == 1 and current_variant.inventory_management -%}
             {%- if current_variant.inventory_quantity < 10 and current_variant.inventory_quantity > 0 -%}
                {{ 'products.product.only_left' | t: count: current_variant.inventory_quantity }}
             {%- elsif current_variant.inventory_quantity <= 0 and current_variant.incoming -%}
                {%- assign next_incoming_date = current_variant.next_incoming_date | date: format: 'month_day_year' -%}
    {{ 'products.product.will_not_ship_until' | t: date:next_incoming_date }}
             {%- endif -%}
          {%- endif -%}
       </div>
    {%- endif -%}
    <div id="shopify_quantity" class="quantity">
       <input type="button" value="-" class="minus">
       <input type="number" step="1" min="1" max="{%- if current_variant.inventory_quantity <= 0 and current_variant.available and current_variant.inventory_management != null -%}999{%- elsif current_variant.inventory_management != null -%}{{current_variant.inventory_quantity}}{%- else -%}999{%- endif -%}" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
       <input type="button" value="+" class="plus">
    </div>
    <p class="stock out-of-stock variant_stock" id="out-of-stock-gl" style="display: none">{{ 'products.product.outofstock' | t }}</p>
    <div class="single_variation_wrap ">                                             
          {%- if check_external == false -%}
      {%- if current_variant.inventory_quantity <= 0 and current_variant.available and current_variant.inventory_management == 'shopify' -%}
       <button type="submit" id="shopify_add_to_cart" onclick="pintrk('track', 'addtocart');
       window.dotq = window.dotq || []; window.dotq.push( { 'projectId': '10000', 'properties': {  'pixelId': '10089243', 'qstrings': { 'et': 'custom', 'ec': 'shopping', 'ea': 'AddToCart', 'el': 'AddToCart', 'ev': '{{ product.title }}', 'gv': '{{ product.price | money_without_currency }}' } } } );"
        class="test_1 add_to_cart_button ajax_form_cart single_add_to_cart_button button alt">{{ 'products.product.pre_orders' | t }}</button>
      {%- else -%}
      <button type="submit" id="shopify_add_to_cart" onclick="pintrk('track', 'addtocart');"
        class="add_to_cart_button ajax_form_cart single_add_to_cart_button button alt">{{ 'products.product.add_to_cart' | t }}</button>
      {%- endif -%}
    {%- else -%}
    <a href="{{ check }}" rel="nofollow" class="single_add_to_cart_button button alt">{{ product.metafields.external | first | first }}</a>
    {%- endif -%}
     {% include 'iwish_v2' with 'iwishproduct' %}
    </div>
{%- endif -%}
    {% if settings.enable_payment_button %}
      {{ form | payment_button }}
    {% endif %}                                          
{%- endform -%}