{%- include 'current_variant' -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- unless image_size -%}
{%- assign image_size = '263x336' -%}
{%- endunless -%}
{%- unless gl_colum_width -%}
  {% if template == "article" %}
    {%- assign gl_colum_width = 'col-sm-4 col-md-3' -%}
  {%- else -%}
    {%- assign gl_colum_width = 'col-sm-4 col-md-4' -%}
  {%- endif -%}
{%- else -%}
{%- assign gl_colum_width = gl_colum_width | remove: "col-xs-6 " -%}
{%- endunless -%}
{%- assign gl_colum_mobile = ' ' -%}
{%- if gl_colum_width != 'col-galaxy' -%}{%- assign gl_colum_mobile = ' col-xs-6 ' -%}{%- endif -%}
{%- if settings.show_col_mobile -%}
{%- assign gl_colum_mobile = ' col-xs-12 ' -%}
{%- endif -%}
{%- include 'check_label_gl' -%}
{%- include 'check_color' -%}
{%- unless collection -%}
{%- assign collection = product.collections.last -%}
{%- endunless -%}
{%- if template contains 'collection' and current_tags.size > 0 and product.has_only_default_variant == false -%}
   {%- assign url_nt = current_variant.url -%}
{%- assign url_nt_bl = true -%}
{%- else -%}
{%- assign url_nt_bl = false -%}
   {%- assign url_nt = product.url -%}
{%- endif -%}
<div class="iwishAddWrapColl product-grid-item product basel-hover-base{{gl_colum_mobile}}{{ gl_colum_width }} purchasable {% if sold_out %} outofstock{%- endif -%}">
     <a href="#" class="iWishAddColl iwishcheck" data-product="{{product.id}}" data-variant="{{product.variants.first.id}}">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 378.94 378.94" style="enable-background:new 0 0 378.94 378.94;" xml:space="preserve"><g><path d="M348.151,54.514c-19.883-19.884-46.315-30.826-74.435-30.826c-28.124,0-54.559,10.942-74.449,30.826l-9.798,9.8l-9.798-9.8c-19.884-19.884-46.325-30.826-74.443-30.826c-28.117,0-54.56,10.942-74.442,30.826c-41.049,41.053-41.049,107.848,0,148.885l147.09,147.091c2.405,2.414,5.399,3.892,8.527,4.461c1.049,0.207,2.104,0.303,3.161,0.303c4.161,0,8.329-1.587,11.498-4.764l147.09-147.091C389.203,162.362,389.203,95.567,348.151,54.514z M325.155,180.404L189.47,316.091L53.782,180.404c-28.368-28.364-28.368-74.514,0-102.893c13.741-13.739,32.017-21.296,51.446-21.296c19.431,0,37.702,7.557,51.438,21.296l21.305,21.312c6.107,6.098,16.897,6.098,23.003,0l21.297-21.312c13.737-13.739,32.009-21.296,51.446-21.296c19.431,0,37.701,7.557,51.438,21.296C353.526,105.89,353.526,152.039,325.155,180.404z"></path></g></svg>
</a>
   <div class="product-element-top">
      {%- include 'product_element_image' -%}     

   </div>
  <div class="product-element-bottom">
   <h3 class="product-title"><a href="{{ url_nt }}">{{ product.title }}</a></h3>
    {% comment %}<div class="yotpo bottomLine" data-product-id="{{ product.id }}"  data-url="{{ product.url }}"></div>{% endcomment %}          
      <span class="price">
       {%- if product.price_varies -%}
		<span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price_max }}" style="display:none !important;"></span>{{ product.price_max | money }}
       {%- elsif on_sale -%}<del><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_compare_price" data-override-value-set="1" data-override-value="{{ current_variant.compare_at_price }}" style="display:none !important;"></span>{{ current_variant.compare_at_price  | money }}</del> <ins><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price_2" data-override-value-set="1" data-override-value="{{ current_variant.price }}" style="display:none !important;"></span>{{ current_variant.price | money }}</ins>
       {%- else -%}
       <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price_3" data-override-value-set="1" data-override-value="{{ current_variant.price }}" style="display:none !important;"></span>{{ current_variant.price | money }}
       {%- endif -%}
    </span>
       {%- if settings.show_product_color and colour_count > 1 -%}
      {%- include 'swatches_on_grid' -%}
    {%- endif -%}
    {% if template == "artile" %}
     <span><a href="{{ url_nt }}"><button class="button" style="font-size: 12px;"><span style="color: #ffffff;">SHOP THIS DRESS</span></button></a></span>
    {%- endif -%}
      </div>
</div>