{%- assign allproductin_a_cat = 0 -%}
<style>
  .sidebarmenu_div .parentcategoryblock .TitleHeading.onafter:after{
    display:none;
  }
</style>
<div class="sidebarmenu_div">
    <div class="parentcategoryblock">
      <h5 class="TitleHeading onafter">CATEGORIES</h5>
      <ul class="sidemenu {{ collection.handle }}" style="display: block;">
         {% for product_type in collection.all_types and product.available %}
            {% if product_type != '' %}
                      {% assign the_type = product_type %}
               {% endif %}
               {% assign typeCount = 0 %}
                  {% paginate collection.products by 1000 %}
                  {% for product in collection.products %}
                      {% if product.type == the_type and product.available %}
                            {% assign typeCount = typeCount | plus: 1 %}
                      {% endif %}
              {% endfor %}
              {% endpaginate %}
                {% if typeCount > 0 %}<li><h3><a href="/collections/{{ collection.handle }}/?_=pf&pf_pt_product_type={{ the_type }}">{{ the_type }}({{ typeCount }})</a></h3></li> {% endif %}
            {% endfor %}
        {% if collection.handle == 'jovani' or collection.handle == 'jovani-bridal' or collection.handle == 'scala' or collection.handle == 'faviana' or collection.handle == 'saiid-kobeisy' or collection.handle == 'tarik-ediz' %}
            <li class=""></li>
          {%- else -%}
         <li class="sad">
          <h3><a href="/collections/{{ collection.handle }}/Sale">Sale</a></h3>
        </li>
        {%- endif -%} 
      </ul>
     </div>
</div>