<div class="sidebarmenu_div ">
    <div class="parentcategoryblock open">
              <span class="TitleHeading open">Plus Shop By Event</span>
             <ul class="sidemenu">
              {% for link in linklists.plus-shop-by-event.links %}
               <li ><h4><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }} </a></h4></li>
              {% endfor %} 
            </ul>
        </div>  
     <div class="parentcategoryblock">
                <span class="TitleHeading">Plus Shop By Trends/Style</span>
                        <ul class="sidemenu">
              {% for link in linklists.plus-shop-by-trends-style.links %}
              <li ><h4><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }} </a></h4></li>
              {% endfor %} 
            </ul>
        </div>
 
        <div class="parentcategoryblock">
            <span class="TitleHeading">Plus Shop By Length</span>
             <ul class="sidemenu">
              {% for link in linklists.plus-shop-by-length.links %}
               <li ><h4><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }} </a></h4></li>
              {% endfor %} 
            </ul>
        </div>
        <div class="parentcategoryblock">
                <span class="TitleHeading">Plus Shop By Price</span>
                    <ul class="sidemenu">
              {% for link in linklists.plus-shop-by-price.links %}
                     <li ><h4><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }} </a></h4></li>
              {% endfor %} 
            </ul>
        </div>
      <div class="parentcategoryblock">
                <span class="TitleHeading">Plus Shop By Color</span>
                   <ul class="sidemenu">
              {% for link in linklists.plus-shop-by-color.links %}
             <li ><h4><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }} </a></h4></li>
              {% endfor %} 
            </ul>               
        </div>
</div>