<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0144/7018/5017/files/smal-logo_7ee0f572-9197-48cb-b714-87a162678b37_32x.jpg?v=1656321690" type="image/png"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=2.0">
  {%- include 'meta' -%}
  {%- include 'social-meta-tags' -%}
    <img alt="icon" width="750" height="750" style="pointer-events: none; position: absolute; top: 0; left: 0; width: 99vw; height: 99vh; max-width: 99vw; max-height: 99vh;"  src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+">
  {% assign boost_pfs_is_init = false %}    
   {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
    {%- unless template contains 'boost-pfs-original' -%}
    {% assign boost_pfs_is_init = true %}
    <link rel="preconnect" href="https://services.mybcapps.com/bc-sf-filter/filter" />
    <link rel="dns-prefetch" href="https://services.mybcapps.com/bc-sf-filter/filter" />
    <link rel="preload" href="{{ 'boost-pfs-vendor.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-core.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-filter.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-init.js' | asset_url }}" as="script">    
    <link rel="preload" href="{{ 'boost-pfs-instant-search.js' | asset_url }}" as="script">
    <link rel="preload" as="style" href="{{ 'boost-pfs-general.css' | asset_url }}">   
    <link rel="preload" as="style" href="{{ 'boost-pfs-custom.css' | asset_url }}">   
    {%- endunless -%}
{%- endif -%}   
  {% if template != 'product' and template != 'cart' %}  {% render 'spdn' %} {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://services.mybcapps.com/bc-sf-filter/filter  " />
  <link rel="dns-prefetch" href="https://services.mybcapps.com/bc-sf-filter/filter" />
  <link rel="preconnect" href="https://cdn.shopify.com/" />
  {%- include 'head-style' -%}
  {% assign emailCust =  '' %}
  {% assign setHashedEmail = 'setEmail' %}
  {% if customer %}
    {% assign emailCust = customer.email | remove: ' ' | strip_newlines | downcase | md5 %}
    {% assign setHashedEmail = 'setHashedEmail' %}
  {% else %}
  {% assign emailCust = emailCust | remove: ' ' | strip_newlines | downcase | md5 %}
  {% assign setHashedEmail = 'setEmail' %}
  {% endif %}
  {%- capture check_admin -%}{{ content_for_header }}{%- endcapture -%}
  {%- capture check_tab -%}{{ content_for_layout  }}{%- endcapture -%}
   <!--begin-boost-pfs-filter-css-->
   {% render 'boost-pfs-style' %}
  {% if template.name == 'collection' %}
  	{%- if current_page != 1 -%}
  		<meta name="robots" content="noindex,follow">
	 {%else%}		  
  		<meta name="robots" content="index, follow">		 		
  {% endif %}
{%else%}		  
  		<meta name="robots" content="index, follow">		 		
{% endif %}
   <!--end-boost-pfs-filter-css-->
  {%- if template contains 'product' -%}{%- include 'space_check_variant' -%}{%- endif-%}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' | script_tag }}
  {%- include 'head-script-before-content' -%}
   {{ content_for_header }}
  {%- include 'head-script-after-content' -%}
    {{ 'style.css' | asset_url | stylesheet_tag }}
<!-- Global site tag (gtag.js) - Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-950821702"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'AW-950821702');
    </script> 
       {% render 'weglot_switcher' %}
      {% render 'weglot_hreftags' %}      
</head>

{%- include 'class_body_theme' -%}
    
<body id="{{ page_title | handle }}" class="{%- if settings.ajax_shop -%}basel-ajax-shop-on{%- endif %} template-{{ template | split: '.' | first }} {{header_class }} {{footer_layout}} {{ general_layout }} {{ search_layout }} {{ tab_class }} {{ design_products }} global-header-{{settings.header_design}} global-cart-design-{{settings.cart_design}}{%- if customer %} logged-in{%- endif %}{%- if catalog_mode %} catalog-mode-on{%- else %} catalog-mode-off{%- endif %}{%- unless template contains 'index' %} shopify shopify-page{%- endunless %}{%- if template contains '404' %} error404{%- endif-%}">
 {% include 'iwish_v2' with 'iwishfooter' %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQJPKCB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>  
  <!-- End Google Tag Manager (noscript) -->

  {%- section 'gl_mobile_menu'-%}
  <!--END MOBILE-NAV-->
    
  {%- if settings.cart_position == 'side' -%}{%- include 'cart_widget_side'-%}{%- endif -%}

  <div class="website-wrapper">
    {%- include 'header'-%}
    {{ content_for_layout }}
    <!-- FOOTER -->
    {%- include 'footer' -%}
    <!-- FOOTER -->
  
    <div class="basel-close-side"></div>
    {%- if settings.product_layout_setting == '1' or settings.swatch_style == '1' -%}{%- section 'gl_custom_color' -%}{%- endif -%}
  </div>
  <!-- end wrapper -->
  {%- if settings.show_backtop -%}<a href="#" class="scrollToTop basel-tooltip"><span class="basel-tooltip-label">Scroll To Top</span>Scroll To Top</a>{%- endif -%}
  
   {%- include 'footer-scripts' -%}

  {% if template contains 'collection' and settings.use_pagination == 'infinit' -%}
  <!-- trigger function on scroll point -->
  <script defer src="{{ 'waypoints.min.js' | asset_url }}"></script>
  {%- endif -%}

  {%- assign gl_portfolio = settings.blog_portfolio -%}
  {%- if blog.handle == gl_portfolio and settings.portfolio_full_width -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->
  {%- endif -%}  

  {%- include 'gl-currencies' -%}

   <script> const NITRO_CHECKOUT_SELECTOR = [".nitro-bundle-checkout"];</script>

  {%- if settings.enable_header_banner -%}
  <div class="header-banner color-scheme-light">
    {%- if settings.close_banner_btn -%}<a href="#" class="close-header-banner"></a>{%- endif -%}
   {%- if settings.link_banner != blank -%}<a href="{{settings.link_banner}}" class="header-banner-link"></a>{%- endif -%}   
    <div class="container header-banner-container">
      <p style="text-align: center; color: {{settings.header_banner_text}} !important;">{{settings.banner_content | strip_html }}</p>
    </div>
  </div>
  {%- endif -%}

 {%- if settings.enable_suggest_products -%}{%- include 'tea_suggest' -%}{%- endif -%}

  {%- if template contains 'product' or template contains 'article' or check_photowipe -%}
  {%- include 'photoswipe' -%}
  {%- endif -%}

  {%- if settings.use_compare and pages['compare'].empty? != true -%}{%- include 'gl_compare' -%}{%- endif -%}

  {%- if settings.custom_js != blank -%}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'custom_js.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'custom_js.js' | asset_url }}"></script><![endif]-->

  {%- endif -%}

  {%- include 'last_catelog_mod',var_last:true -%}

  <!-- CRITEO START -->
  {% include 'criteo-tracking' %}
  <!-- CRITEO END -->
 
<!-- **BEGIN** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
        {% render 'hextom_spm_main', product: product, customer: customer %}
        <!-- **END** Hextom SPM Integration // Main Include - DO NOT MODIFY -->

 {% include 'revy-bundle-script' %}
 <!--begin-boost-pfs-js-->
   {% render 'boost-pfs' %}
 <!--end-boost-pfs-js-->

 
	{%- render 'flits_capture_code' with 'load_snippet',template:'flits_snippet' -%}
    {% if request.page_type == 'product' %}
      <script>
      $(document).ready( function() { 
          jQuery('form[action="/cart/add"]').submit(function(e) {
            e.preventDefault();
            jQuery.ajax( {
              url: '/cart/add.js',
              type: 'post',
              dataType: 'json',
              data: jQuery(this).serialize(),
              success: function() { window.location.href = '/cart' },
              error: function(jqXHR) {
                var response = eval('(' + jqXHR.responseText + ')').description;
                if (response.slice(0,4) === 'All ') {
                  // jQuery('form[action="/cart/add"]').find('input[type="submit"], button[type="submit"]').val('Sold Out').addClass('disabled').attr('disabled','disabled');
                  jQuery("#variant-error-msg").text(response.replace('All 1 ', 'All '));
                  jQuery("#variant-error-msg").addClass("inventory-active");
                }
                else {
                  jQuery("#variant-error-msg").text(response);
                  jQuery("#variant-error-msg").addClass("inventory-active");
                }
              }
            });
          });
         });
          </script>
      {% endif %}
</body>

  {% if template != "index" %} 
  {% endif %}
</html>    <!-- StartDeliveryDateRange version: 1.1 -->
    <script>
      var DeliveryDateRangeData = (function() {
        var data = {
          product: null,
          cartProducts: []
        };
        {% if product %}
          {% assign collection_titles = product.collections | map: 'title' | downcase %}
          data.product = (function() {
            return {
              tags: {{ product.tags | json }},
              collections: {{ collection_titles }},
              vendor: "{{ product.vendor | downcase }}",
              type: "{{ product.type | downcase }}"
            }
          })();
        {% endif %}
        {% if cart.items.size > 0 %}
          {% for item in cart.items %}
            {% assign collection_titles = item.product.collections | map: 'title' | downcase %}
            data.cartProducts.push(function() {
              return {
                tags: {{ item.product.tags | json }},
                collections: {{ collection_titles }},
                vendor: "{{ item.product.vendor | downcase }}",
                type: "{{ item.product.type | downcase }}"
              }
            }());
          {% endfor %}
        {% endif %}

        return data;
      })();
      
</script>
  
<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=bd0b31d4-a0b6-4036-868a-27a0e13ed47a'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=bd0b31d4-a0b6-4036-868a-27a0e13ed47a'></script>

<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=bd0b31d4-a0b6-4036-868a-27a0e13ed47a'></script>
