<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>{% render 'spdn' %}
 <!-- yett control the execution of (third party) scripts -->
{%- include 'meta' -%}
{%- include 'social-meta-tags' -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta name="facebook-domain-verification" content="65kh83o91knyi4e2aa294mfau2ovt1" />
  <link rel="preconnect" href="https://services.mybcapps.com/bc-sf-filter/filter  " />
  <link rel="dns-prefetch" href="https://services.mybcapps.com/bc-sf-filter/filter" />
  <link rel="preload" href="{{ 'boost-pfs-vendor.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'boost-pfs-core.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'boost-pfs-filter.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'boost-pfs-init.js' | asset_url }}" as="script">
  {%- include 'head-style' -%}
    {% assign emailCust =  '' %}
  {% assign setHashedEmail = 'setEmail' %}
  {% if customer %}
  {% assign emailCust = customer.email | remove: ' ' | strip_newlines | downcase | md5 %}
  {% assign setHashedEmail = 'setHashedEmail' %}
  {% else %}
  {% assign emailCust = emailCust | remove: ' ' | strip_newlines | downcase | md5 %}
  {% assign setHashedEmail = 'setEmail' %}
  {% endif %} 
  {%- include 'head-script-before-content' -%}

  {{ content_for_header }}
  {%- capture check_admin -%}{{ content_for_header }}{%- endcapture -%}
  {%- capture check_tab -%}{{ content_for_layout  }}{%- endcapture -%}
  {%- if check_tab contains 'gl_has_youtube' or check_tab contains 'has_section_gl_js' or check_tab contains 'animated_counter' -%}
  {%- assign section_js_enable = true -%}
  {%- endif -%}
  {%- if check_tab contains 'gl_has_google_map' -%}
  {%- assign section_js_googlem_enable = true -%}
  {%- endif -%}
  <!--begin-bc-sf-filter-css-->
  
  <!--end-bc-sf-filter-css-->
  {%- include 'head-script-after-content' -%}

 <!--begin-boost-pfs-filter-css-->
   {% render 'boost-pfs-style' %}
 <!--end-boost-pfs-filter-css-->
  <!-- Abandoned Cart Information -->
  <div id="care-cart-customer-information" style="display:none">
    {"id":"{{customer.id}}", "email":"{{ customer.email }}","default_address":{{ customer.default_address | json }},"first_name":"{{ customer.first_name }}","last_name":"{{ customer.last_name }}","name":"{{ customer.name }}" }
  </div>
  <!-- Abandoned Cart Information -->
  
  <!--  ShopInformation -->
  <div id="care-cart-shop-information" style="display:none">
    {"domain":"{{shop.permanent_domain}}" }
  </div>
  <!--  ShopInformation -->  
  <!--EndCareCartCustomCode-->


{%- include 'class_body_theme' -%}

<body id="{{ page_title | handle }}" class="{%- if settings.ajax_shop -%}basel-ajax-shop-on{%- endif %} template-{{ template | split: '.' | first }} {{header_class }} {{footer_layout}} {{ general_layout }} {{ search_layout }} {{ tab_class }} {{ design_products }} global-header-{{settings.header_design}} global-cart-design-{{settings.cart_design}}{%- if customer %} logged-in{%- endif %}{%- if catalog_mode %} catalog-mode-on{%- else %} catalog-mode-off{%- endif %}{%- unless template contains 'index' %} shopify shopify-page{%- endunless %}{%- if template contains '404' %} error404{%- endif-%}">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQJPKCB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>  
  <!-- End Google Tag Manager (noscript) -->

  {%- section 'gl_mobile_menu'-%}
  <!--END MOBILE-NAV-->
    
  {%- if settings.cart_position == 'side' -%}{%- include 'cart_widget_side'-%}{%- endif -%}

  <div class="website-wrapper">
    {%- include 'header'-%}
    {{ content_for_layout }}
    <!-- FOOTER -->
    {%- include 'footer' -%}
    <!-- FOOTER -->
    {%- include 'show_mobile_footer' -%}
    
    <div class="basel-close-side"></div>
    {%- if settings.product_layout_setting == '1' or settings.swatch_style == '1' -%}{%- section 'gl_custom_color' -%}{%- endif -%}
  </div>
  <!-- end wrapper -->
  {%- if settings.show_backtop -%}<a href="#" class="scrollToTop basel-tooltip"><span class="basel-tooltip-label">Scroll To Top</span>Scroll To Top</a>{%- endif -%}
  
   {%- include 'footer-scripts' -%}

  {% if template contains 'collection' and settings.use_pagination == 'infinit' -%}
  <!-- trigger function on scroll point -->
  <script async="async" src="{{ 'waypoints.min.js' | asset_url }}"></script>
  {%- endif -%}

  {%- assign gl_portfolio = settings.blog_portfolio -%}
  {%- if blog.handle == gl_portfolio and settings.portfolio_full_width -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->
  {%- endif -%}  

  {%- include 'gl-currencies' -%}

   <script> const NITRO_CHECKOUT_SELECTOR = [".nitro-bundle-checkout"];</script>

  {%- if settings.enable_header_banner -%}
  <div class="header-banner color-scheme-light">
    {%- if settings.close_banner_btn -%}<a href="#" class="close-header-banner"></a>{%- endif -%}
   {%- if settings.link_banner != blank -%}<a href="{{settings.link_banner}}" class="header-banner-link"></a>{%- endif -%}   
    <div class="container header-banner-container">
      <p style="text-align: center; color: {{settings.header_banner_text}} !important;">{{settings.banner_content | strip_html }}</p>
    </div>
  </div>
  {%- endif -%}

 {%- if settings.enable_suggest_products -%}{%- include 'tea_suggest' -%}{%- endif -%}

  {%- if template contains 'product' or template contains 'article' or check_photowipe -%}
  {%- include 'photoswipe' -%}
  {%- endif -%}

  {%- if settings.use_compare and pages['compare'].empty? != true -%}{%- include 'gl_compare' -%}{%- endif -%}

  {%- if settings.custom_js != blank -%}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'custom_js.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'custom_js.js' | asset_url }}"></script><![endif]-->

  {%- endif -%}

  {%- include 'last_catelog_mod',var_last:true -%}

  <!-- CRITEO START -->
  {% include 'criteo-tracking' %}
  <!-- CRITEO END -->
 
<!-- **BEGIN** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
        {% render 'hextom_spm_main', product: product, customer: customer %}
        <!-- **END** Hextom SPM Integration // Main Include - DO NOT MODIFY -->

 {% include 'revy-bundle-script' %}
 <!--begin-boost-pfs-js-->
   {% render 'boost-pfs' %}
 <!--end-boost-pfs-js-->
  {% render 'weglot_hreftags' %}
  {% render 'weglot_switcher' %}
</body>

  {% if template != "index" %} 
  {% include 'flits_snippet' %}
  {% endif %}
</html>    <!-- StartDeliveryDateRange version: 1.1 -->
    <script>
      var DeliveryDateRangeData = (function() {
        var data = {
          product: null,
          cartProducts: []
        };
        {% if product %}
          {% assign collection_titles = product.collections | map: 'title' | downcase %}
          data.product = (function() {
            return {
              tags: {{ product.tags | json }},
              collections: {{ collection_titles }},
              vendor: "{{ product.vendor | downcase }}",
              type: "{{ product.type | downcase }}"
            }
          })();
        {% endif %}
        {% if cart.items.size > 0 %}
          {% for item in cart.items %}
            {% assign collection_titles = item.product.collections | map: 'title' | downcase %}
            data.cartProducts.push(function() {
              return {
                tags: {{ item.product.tags | json }},
                collections: {{ collection_titles }},
                vendor: "{{ item.product.vendor | downcase }}",
                type: "{{ item.product.type | downcase }}"
              }
            }());
          {% endfor %}
        {% endif %}

        return data;
      })();
</script>