<div {{ data_section }} data-section-id="{{ section.id }}" data-section-type="banners-section" class="gl_custom_{{section.id}} gl_column-gap-{{ section.settings.columns_gap }} featured-collection">
  {%- for block in section.blocks -%}
  <div class="spb_column gl_column_container gl_col-md-6 gl_col-lg-6">
    <div class="gl_column-inner"> 
       <div class="spb_wrapper">
          <div class="promo-banner" onclick="window.location.href='{{ block.settings.banner_link }}'">
             <div class="main-wrapp-img">
                <div class="banner-imagegl_col-md-6 gl_col-lg-6">
                   {%- if block.settings.image == blank -%}
                   <img class="promo-banner-image image-1" src="//cdn.shopify.com/s/files/1/1933/6253/files/portfolio-placeholder_600x400_crop_center.jpg?12790048884060573015" width="600" height="420" alt="market-banner-sport" title="market-banner-sport">                                                     
                   {%- else -%}
                   {%- assign image = block.settings.image -%}
                   {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                               <img src="{{ image | img_url: '50x50' }}" data-src="{{ img_url }}" data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ image.aspect_ratio }}"  data-sizes="auto" class="lazyload w__100 promo-banner-image image-1" alt="{{image.alt}}" >
                               <div class="jas-wrap-lazy"></div>
                  {%- endif -%}
                </div>
             </div>
             <div class="wrapper-content-baner">
                <div class="banner-inner">
                {%- if block.settings.category_heading != blank -%}
                  <h5>{{ block.settings.category_heading }}</h5>
                {%- endif -%}
                   {%- if block.settings.category_content != blank -%}
                  <div> {{ block.settings.category_content }} </div>
                {%- endif -%}
                 {%- if block.settings.banner_link != blank and block.settings.banner_btn_title != blank  -%}
                    <p><a class="btn" href="{{ block.settings.banner_link }}">{{ block.settings.banner_btn_title }}</a></p>
                  {%- endif -%}
                </div>
             </div>
          </div>

       </div>
    </div>
  </div>
  {%- endfor -%}
</div>

{%- schema -%}
  {
    "name": "Promo Categories",
    "class": "index-section gl_section_promo_categories",
    "max_blocks": 2,
    "settings": [
     ],
    "blocks": [
      {
        "type": "banner-1",
        "name": "Category Style 1",
        "settings": [
        {
          "type": "header",
          "content": "== Promo Banner settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Select image"
        },
        {
          "type": "text",
          "id": "category_heading",
          "label": "Category Heading",
          "info": "Add here Category Heading"
        },
        {
          "type": "text",
          "id": "category_content",
          "label": "Category Content",
          "info": "Add here Category Content"
        },
        {
          "type": "text",
          "id": "banner_btn_title",
          "label": "Button title",
          "info": "Add here few words to your title button."
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner link",
          "info": "Enter URL if you want this banner to have a link."
        }
        ]
      },
      {
              "type": "banner-2",
              "name": "Category Style 2",
              "settings": [
              {
                "type": "header",
                "content": "== Promo Banner settings"
              },
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image",
                "info": "Select image"
              },
              {
                "type": "text",
                "id": "category_heading",
                "label": "Category Heading",
                "info": "Add here Category Heading"
              },
              {
                "type": "text",
                "id": "category_content",
                "label": "Category Content",
                "info": "Add here Category Content"
              },
              {
                "type": "text",
                "id": "banner_btn_title",
                "label": "Button title",
                "info": "Add here few words to your title button."
              },
              {
                "type": "url",
                "id": "banner_link",
                "label": "Banner link",
                "info": "Enter URL if you want this banner to have a link."
              }
              ]
            }
    ],
    "presets": [
      {
        "name": "Promo banner",
        "category": "Image",
        "blocks": [
          {
            "type": "banner-1"
          },
          {
            "type": "banner-2"
          }
        ]
      }
    ]
  }
{% endschema %}

