{% assign emailCust =  '' %}
{% assign collection_name =  collection.handle | downcase %}
{% assign setHashedEmail = 'setEmail' %}
{% if customer %}
	  {% assign emailCust = customer.email | remove: ' ' | strip_newlines | downcase | md5 %}
		{% assign setHashedEmail = 'setHashedEmail' %}
	{% else %}
  {% assign emailCust = emailCust | remove: ' ' | strip_newlines | downcase | md5 %}
{% assign setHashedEmail = 'setEmail' %}
{% endif %}

<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
	{ event: "setAccount", account: 29071 },
	{ event: "{{setHashedEmail}}", email: "{{emailCust}}" },
	{ event: "setSiteType", type: checkDevice },
    { event: "viewList", item:
		[
			{%- for product in collection.products limit: 3 -%}
			"{{product.id}}",
			{%- endfor -%}
		]
	}
);
</script>
<div class="filter">
<div class="bc-sf-filter-left-col">
      <div id="bc-sf-filter-tree">{% include 'bc-sf-filter-tree-placeholder' %}</div>
    </div>
</div>
{%- assign allproductin_a_cat = collection.all_products_count -%}
<input type="hidden" name="collection" id="collectionhandle" value="{{ collection.handle }}">
{% assign products_per_page = section.settings.products_per_page %}
{% paginate collection.products by products_per_page %}
<div id="bc-sf-filter-wrapper" class="{% if allproductin_a_cat > 0 %}have-product{% else %}zero-product{%- endif -%}{% if collection_name ==  'final-clearance-sale' %} {{ collection.handle }}{%- endif -%} ">
  <div id="collectionfilter">
  <div class="closeapply"><button class="btn">Apply</button></div> 
    <div id="bc-sf-filter-tree-h"></div>
  </div>
    {% comment %} TOOLBAR {% endcomment %}
  <div id="bc-sf-filter-default-toolbar">
    <div class="bc-sf-filter-default-toolbar-inner">
      <div class="bc-sf-filter-toolbar-item bc-sf-filter-toolbar-count">
        <span id="bc-sf-filter-total-product"></span>
      </div>
      <div id="bc-sf-filter-top-sorting"></div>
      <div class="bc-sf-filter-toolbar-item">
      <!--<div id="bc-sf-filter-top-display-type"></div>-->
         <div id="bc-sf-filter-bottom-pagination" class="bc-sf-filter-top-pagination-default"></div>
      </div>
    </div>
</div>
{% comment %} END TOOLBAR {% endcomment %}
  {% if collection.handle == 'clearance-dresses' or collection.handle == 'sale' or collection.handle == 'sale-closeouts' or collection.handle == 'sale-swimwear' or   collection.handle == 'sale-apparel' %}<!-- .check-sale --> 
  <div class="salebanner">
        <img src="https://cdn.shopify.com/s/files/1/0144/7018/5017/files/couture-candy-extra25-sale.jpg?14008861864602121706">
  </div>
  {% endif %}
  <div class="background_mobile"></div>  
  <div id="bc-sf-filter-tree-mobile" {% if collection_name ==  'final-clearance-sale' %} class="{{ collection.handle }}"{%- endif -%}></div>
  <div id="mobile_sort_by">Shop By</div>
</div>
  <div id="bc-sf-filter-tree" {% if collection_name ==  'final-clearance-sale' %} class="{{ collection.handle }}"{%- endif -%}></div>
  <div id="bc-sf-filter-products" data-bc-sort="{{ collection.default_sort_by }}">
      {% for product in collection.products %}
         {% include 'bc-sf-filter-product-item', product: product %}
        {% endfor %}
  </div>
  <div id="bc-sf-filter-bottom-pagination" class="bc-sf-filter-bottom-pagination-default"></div>
  
  {%- if collection.metafields.Bottomdescription.Bottomdescription != blank -%}
  <div id="collectionbottomdescription">
        {{ collection.metafields.Bottomdescription.Bottomdescription }}
  </div>
{%- endif -%}
  <div id="bc-sf-filter-load-more"></div>
{% endpaginate %}

<script>
  var template_suffix = "{{ collection.template_suffix | downcase }}";


  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
    //  sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
     // sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      toolbar_viewas: "View As",
      items_with_count_one: "product",
      items_with_count_other: "Products",
    },
    label_basic: {
      sale: "Sale",
      sold_out: "Sold out",
      from: "from",
    },
    custom: {
      products_per_page: {% if products_per_page %} {{ products_per_page | json }} {% else %} 72 {% endif %},
      products_per_row: {% if section.settings.products_per_row %} {{ section.settings.products_per_row  }} {% else %} 3 {% endif %},
      products_per_row_mobile: {% if section.settings.products_per_row_mobile %} {{ section.settings.products_per_row_mobile }} {% else %} 2 {% endif %},
      show_vendor: {% if section.settings.show_vendor %} {{ section.settings.show_vendor | json }} {% else %} false {% endif %},
      show_price: {% if section.settings.show_price %} {{ section.settings.show_price | json }} {% else %} false {% endif %},
      show_sale_label: {% if section.settings.show_sale_label %} {{ section.settings.show_sale_label | json }} {% else %} false {% endif %},
      show_sold_out_label: {% if section.settings.show_sold_out_label %} {{ section.settings.show_sold_out_label | json }} {% else %} false {% endif %},
      active_image_swap: {% if section.settings.active_image_swap %} {{ section.settings.active_image_swap | json }} {% else %} false {% endif %},
      show_sorting: {% if section.settings.show_sorting %} {{ section.settings.show_sorting | json }} {% else %} false {% endif %},
    }
  };
</script>
{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 24
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row on Desktop",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "products_per_row_mobile",
        "label": "Products per row on Mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "label": "Show price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sale_label",
        "label": "Show sale label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sold_out_label",
        "label": "Show sold out label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "active_image_swap",
        "label": "Active image swap",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sorting",
        "label": "Enable collection sorting",
        "default": true
      }
    ]
  }
{% endschema %}
<!--  <script type="text/javascript">
$(document).ready(function() {
    var $cache = $('#collectionfilter');
    var vTop = $cache.offset().top - parseFloat($cache.css('margin-top').replace(/auto/, 0));
    $(window).scroll(function(event) {
        var y = $(this).scrollTop();
        if (y >= vTop) {
            $cache.addClass('filterfixed')
        } else {
            $cache.removeClass('filterfixed')
        }
    });
    $('#mobile_sort_by').addClass('filterapply');
    if ($(window).width() < 767) {
      

        $('.parentcategoryblock ul.sidemenu').hide();
        $('.parentcategoryblock.open ul.sidemenu').show();
        $('.main-page-wrapper .site-content .term-description p').insertAfter($("#shopify-section-collection-template-bc-sf-filter #bc-sf-filter-bottom-pagination"));
		$('.main-page-wrapper .site-content .term-description #BrandsDescriptionPanel .BlockContent p').insertBefore($("#shopify-section-collection-template-bc-sf-filter #bc-sf-filter-load-more"));
        
      
      $('.background_mobile').click(function() {
            $('#mobile_sort_by').removeClass("full_button");
            if ($('#mobile_sort_by').text() == "Shop By") {
                $('#mobile_sort_by').text("Close")
            } else {
                $('#mobile_sort_by').text("Shop By")
            }
            $('.sidebar-container').hide();
            $('#shopify-section-collection-template-bc-sf-filter #bc-sf-filter-wrapper .background_mobile').removeClass("overlaey_for_sidebar_mobile")
        });
        $(".parentcategoryblock .TitleHeading").on("click", function() {
            $(".parentcategoryblock.open .sidemenu").hide('slow');
            if ($(this).hasClass('open')) {
                $(this).removeClass('open').siblings('ul').hide('slow');
                $(this).closest('.sidebarmenu_div .parentcategoryblock').removeClass('open')
            } else {
                $(".sidebarmenu_div .parentcategoryblock").siblings().removeClass('open');
                $(".sidebarmenu_div .parentcategoryblock .TitleHeading").removeClass('open');
                $(this).closest('.sidebarmenu_div .parentcategoryblock').toggleClass('open');
                $(this).toggleClass('open').siblings('ul').show('slow')
            }
        });
        $('#shopify-section-collection-template-bc-sf-filter #bc-sf-filter-wrapper #mobile_sort_by').click(function() { /*$('#someone-purchased').toggleClass('hidead');*/
            if ($(this).attr("id") != 'applynow') {
                $(this).toggleClass("full_button");
                $('#shopify-section-collection-template-bc-sf-filter #bc-sf-filter-wrapper .background_mobile').toggleClass("overlaey_for_sidebar_mobile");
                $('.sidebar-container').slideToggle('slow');
                if ($(this).text() == "Shop By") {
                    $(this).text("Close");
                } else {
                    $(this).text("Shop By");
                }
            }
        });
        setTimeout(function() {
            $('#shopify-section-collection-template-bc-sf-filter #bc-sf-filter-tree .bc-sf-filter-option-block .bc-sf-filter-block-content').hide();
            $("#bc-sf-filter-tree #bc-sf-filter-options-wrapper .bc-sf-filter-option-block .bc-sf-filter-block-title").on("click", function() {
                $('.main-page-wrapper .site-content #shopify-section-collection-template-bc-sf-filter #bc-sf-filter-tree #bc-sf-filter-options-wrapper .bc-sf-filter-option-block .bc-sf-filter-block-content').hide();
                $(this).toggleClass('open').siblings('div.bc-sf-filter-block-content').show()
            })
        }, 300)
    }
});
</script>

 -->