<div id="close_menu_main"><i class="fa fa-close"></i></div>
<div class="basel-search-mobile">
   <form role="search" method="get" id="searchform"
      class="searchform{%- if settings.ajax_search_mobile %} basel-ajax-search{%- endif -%}" action="/search">
      <div>
         <label class="screen-reader-text" for="q"></label>
         <input type="text" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}"
            name="q" id="q" autocomplete="off">
         {%- if settings.only_search_products -%}<input type="hidden" name="type" value="product" />{%- endif -%}
         <button type="submit" id="searchsubmit">{{ 'general.search.submit' | t }}</button>
      </div>
   </form>
   {%- if settings.ajax_search_mobile -%}
   <div class="search-results-wrapper">
      <div class="basel-search-results">
         <div class="autocomplete-suggestions"
            style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
      </div>
   </div>
   {%- endif -%}
</div>

{%- for block in section.blocks -%}
<div class="menu_block">
  
   <div class="menu_inner_block {% if block.settings.menu_link_1 != 'blank' %}non{%-else-%}onclick_eve{%-endif-%}">
   {% if block.settings.menu_link_1 != 'blank' %}<a href="{{block.settings.menu_link_1}}">{%-else-%}{%-endif-%}
     {% if block.settings.menu_text != 'blank' %}<div class="menu_title">{{block.settings.menu_text}}</div>{%-endif-%}
      {% if block.settings.menu_text != 'blank' %}<div class="menu_image"><img
            src="{{block.settings.menu_image | img_url:'200x'}}" alt="{{block.settings.menu_text}}"></div>{%-endif-%}
     {% if block.settings.menu_link_1 != 'blank' %} </a>{%-else-%}{%-endif-%}
   </div>

   <div class="menu-mobile-nav-container">
      <div class="close_inner_block"><i class='fas fa-angle-left'></i></div>
      {%- if block.settings.menu != blank -%}
      <ul id="menu-mobile-nav" class="site-mobile-menu">
         {%- for link in linklists[block.settings.menu].links -%}
         {%- assign child_list_handle = link.title | split: '[' | first | handleize -%}
         {%- if linklists[link.handle].links.size > 0 or linklists[child_list_handle].links != blank -%}
         <li
            class="menu-item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-design-default item-event-hover{%- if link.active %} current_page_item{%- endif -%}">
            <a href="{{ link.url }}">{{ link.title | split: '[' | first | capitalize }}</a>
            <div class="sub-menu-dropdown color-scheme-dark">
               <div class="container">
                  <ul class="sub-menu color-scheme-dark">
                     {%- if linklists[link.handle].links.size > 0 -%}
                     {%- assign menu_sub_link = linklists[link.handle] -%}
                     {%- elsif linklists[child_list_handle].links != blank -%}
                     {%- assign menu_sub_link = linklists[child_list_handle] -%}
                     {%- endif -%}
                     {%- for childlink in menu_sub_link.links -%}
                     {%- assign third_list_handle = childlink.title | split: '[' | first | handleize -%}
                     {%- if linklists[childlink.handle].links.size > 0 or linklists[third_list_handle].links != blank
                     -%}
                     <li
                        class="menu-item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-design-default item-event-hover{%- if childlink.active %} current_page_item{%- endif -%}">
                        <a href="{{ childlink.url }}">{{ childlink.title | split: '[' | first | capitalize }}</a>
                        <div class="sub-menu-dropdown color-scheme-dark">
                           <div class="container">
                              <ul class="sub-menu color-scheme-dark">
                                 {%- if linklists[childlink.handle].links.size > 0 -%}
                                 {%- assign menu_sub_sub_link = linklists[childlink.handle] -%}
                                 {%- elsif linklists[third_list_handle].links != blank -%}
                                 {%- assign menu_sub_sub_link = linklists[third_list_handle] -%}
                                 {%- endif -%}
                                 {%- for thirdlink in menu_sub_sub_link.links -%}
                                 <li
                                    class="menu-item menu-item-design-default item-event-hover{%- if thirdlink.active %} current_page_item{%- endif -%}">
                                    <a href="{{ thirdlink.url }}">{{ thirdlink.title | split: '[' | first | capitalize
                                       }}</a></li>
                                 {%- endfor -%}
                              </ul>
                           </div>
                        </div>
                     </li>
                     {%- else -%}
                     <li
                        class="menu-item menu-item-design-default item-event-hover{%- if childlink.active %} current_page_item{%- endif -%}">
                        <a href="{{ childlink.url }}">{{ childlink.title | split: '[' | first | capitalize }}</a></li>
                     {%- endif -%}
                     {%- endfor -%}
                  </ul>
               </div>
            </div>
         </li>
         {%- else -%}
         <li
            class="menu-item menu-item-design-default item-event-hover{%- if link.active %} current_page_item{%- endif -%}">
            <a href="{{ link.url }}">{{ link.title | split: '[' | first | capitalize }}</a></li>
         {%- endif -%}
         {%- endfor -%}
         {%- if settings.show_multiple_currencies -%}
         {%- assign supported_codes = settings.supported_currencies | split: '|' -%}
         <li
            class="currency menu-item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-design-default item-event-hover{%- if link.active %} current_page_item{%- endif -%}">
            <a href="#" class="value current-currency">{{ shop.currency }}</a>
            <div class="sub-menu-dropdown color-scheme-dark">
               <div class="container">
                  <ul class="sub-menu color-scheme-dark">
                     {%- assign codes =
                     'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK'
                     | split: ',' -%}
                     {%- assign check = true -%}
                     {%- for code in supported_codes -%}
                     {%- assign array_money = code | split: '-' -%}
                     {%- assign data_currency = array_money | first | strip | upcase -%}
                     {%- assign name_money = array_money | last | strip -%}
                     {%- if data_currency contains 'EUR' -%}{%- assign data_currency = 'EUR' -%}{%- endif -%}
                     {%- if data_currency == shop.currency and codes contains data_currency -%}
                     {%- assign check = false -%}
                     {%- break -%}
                     {%- endif -%}
                     {%- endfor -%}
                     {%- if check and codes contains shop.currency -%}
                     <li data-currency="{{ shop.currency }}"
                        class="active menu-item menu-item-design-default item-event-hover"><a href="#">{{ shop.currency
                           }}</a></li>
                     {%- endif -%}
                     {%- for code in supported_codes -%}
                     {%- assign array_money = code | split: '-' -%}
                     {%- assign data_currency = array_money | first | strip | upcase -%}
                     {%- assign name_money = array_money | last | strip -%}
                     {%- if data_currency contains 'EUR' -%}{%- assign data_currency = 'EUR' -%}{%- endif -%}
                     {%- if codes contains data_currency -%}
                     <li data-currency="{{data_currency}}" class="menu-item menu-item-design-default item-event-hover">
                        <a href="#">{{ name_money }}</a></li>
                     {%- endif -%}
                     {%- endfor -%}
                  </ul>
               </div>
            </div>
         </li>
         {%- endif -%}
         {%- if settings.show_language_currencies and block.settings.language_link_list != blank -%}
         <li
            class="language menu-item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-design-default item-event-hover{%- if link.active %} current_page_item{%- endif -%}">
            <a href="#">{{ settings.language_title }}</a>
            <div class="sub-menu-dropdown color-scheme-dark">
               <div class="container">
                  <ul class="sub-menu color-scheme-dark">
                     {%- for link in linklists[block.settings.language_link_list].links -%}
                     <li
                        class="menu-item menu-item-design-default item-event-hover{%- if childlink.active %} current_page_item{%- endif -%}">
                        <a href="{{ link.url }}">{{ link.title | split: '[' | first }}</a></li>
                     {%- endfor -%}
                  </ul>
               </div>
            </div>
         </li>
         {%- endif -%}
      </ul>
      {%- else -%}
      <br>
      <h5
         style="color: white;padding-top: 12px;padding-bottom: 12px;padding-right: 15px;padding-left: 15px;text-transform: uppercase;">
         Create your first navigation menu sidebar using the sidebar.</h5>
      {%- endif -%}
   </div>

</div>


{%- endfor -%}
<div class="mobile_bottom_icons">
{%- include 'header_account' -%}
{%- include 'header_wishlist' -%}
{%- unless settings.cart_design == 'disable' or settings.catalog_mode or template contains 'cart' -%}
         <div class="shopping-cart basel-cart-design-{{settings.cart_design}} basel-cart-icon{%- if settings.cart_position == 'side' %} cart-widget-opener{%- endif %}{%- if settings.shopping_icon_alt %} basel-cart-alt{%- endif -%}">
            <a href="/cart">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.808 511.808" style="enable-background:new 0 0 511.808 511.808;width: 22px;height: 22px;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M477.511,491.424l-26.48-348.832c-0.624-8.336-7.584-14.784-15.952-14.784H76.391c-8.368,0-15.328,6.448-15.952,14.8    l-26.704,352c-0.336,4.432,1.2,8.816,4.224,12.08c3.024,3.264,7.28,5.12,11.728,5.12h412.112c0.096,0,0.208,0,0.32,0    c8.832,0,16-7.168,16-16.016C478.119,494.288,477.911,492.816,477.511,491.424z M66.935,479.808l24.288-320h329.024l24.288,320    H66.935z"/>
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M255.735,0c-70.576,0-128,57.44-128,128.032v63.776c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16v-63.776    c0-52.96,43.056-96.032,96-96.032c52.944,0,96,43.072,96,96.032v63.776c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16v-63.776    C383.735,57.44,326.311,0,255.735,0z"/>
                  </g>
                </g>                
                </svg>
               <span>Cart (<span class="cartCount">{{ cart.item_count }}</span>)</span>
               <span class="basel-cart-totals">
                  <span class="basel-cart-number cartCount">{{ cart.item_count }}</span>
                  <span class="subtotal-divider">/</span> 
                  <span class="basel-cart-subtotal"><span class="shopify-Price-amount amount">{{ cart.total_price | money }}</span></span>
               </span>
            </a>
            {%- if settings.cart_position == 'dropdown' -%}
            <div class="dropdown-wrap-cat">{%- include 'cart_widget_side' -%}</div>
            {%- endif -%}
         </div>
         {%- endunless -%}
   </div>
{%- schema -%}
{
"name": "Mobile Side Menu",
"class": "mobile-nav",
"settings": [
],
"blocks": [
{
"type": "menu_block",
"name": "Menu Block",
"settings":[
{
"type": "image_picker",
"id": "menu_image",
"label": "Add Image for menu"
},
{
"type": "text",
"id": "menu_text",
"label": "Add Menu title"
},{
"type": "url",
"id": "menu_link_1",
"label": "Add Menu Link"
},
{
"type": "link_list",
"id": "menu",
"label": "Add Menu",
"default": "main-menu"
}

]
}
]
}
{% endschema %}
<script>
   $('.menu_inner_block.onclick_eve').on('click', function () {
      $(this).closest('.menu_block').toggleClass('active');
   });
   $('.close_inner_block').on('click', function () {
      $(this).closest('.menu_block').toggleClass('active');
   });
   $('body').on("click", "#close_menu_main", function() {
    $('body').removeClass("act-mobile-menu");
    $('.website-wrapper').removeClass("left-wrapp");
  });
</script>