<section class="brands-banner-section">
<div class="row">
    {%- for block in section.blocks -%}
    <div class="col-md-3">
        <a href="{{ block.settings.link }}" class="link">
        {% if section.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: 'master' }}" data-chksrc="{{ section.settings.image | img_url: 'master' }}" data-src="{{ section.settings.image | img_url: 'master' }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="}" data-sizes="auto" class="lazyload banner-image desktop-xs" alt="{{ block.settings.image.alt }}">
        {% endif %}
        </a>
    </div>
    {%- endfor -%}
</div>
</section>
  
  {% schema %}
    {
    "name": "Single Banner",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Heading"
            }
        ],
        "blocks": [
          {
            "type": "Slide",
            "name": "slide",
            "limit": 15,
            "settings": [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Add Brand Logo"
              },
              {
                "type": "link",
                "id": "link",
                "label": "Add brand url"
              }
            ]
          }
        ],
        "presets": [
          {
            "name": "Brands",
            "blocks": [
            {
              "type": "slide"
            }
          ]
          }
       ]      
    }
  {% endschema %}