<section class="sub-page-banner-section">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ section.settings.link }}" class="">
            {% if section.settings.image_desktop != blank %}
            {%- assign image = section.settings.image_desktop -%}
            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}           
                <img media="(min-width: 768px)" src="{{ image | img_url: 'master' }}" data-chksrc="{{  image | img_url: 'master' }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ image.aspect_ratio }}" data-sizes="auto" class="lazyload banner-image desktop-xs" alt="{{ image.alt }}" width="1920" height="800">
            {% endif %}
            {% if section.settings.image_mobile != blank %}
            {%- assign image = section.settings.image_mobile -%}
            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}  
                <img media="(max-width: 768px)" src="{{ image | img_url: 'master' }}" data-chksrc="{{  image | img_url: 'master' }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ image.aspect_ratio }}" data-sizes="auto" class="lazyload banner-image mobile-xs" alt="{{ image.alt }}" style="display:none;" width="768" height="768"> 
            {% endif %}
          </a>
        </div>
    </div>
</section>
  
  {% schema %}
    {
    "name": "Single Banner",
        "settings": [
            {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "image"
            },
            {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image"
            },
            {
            "type": "url",
            "id": "link",
            "label": "Link"
            }
        ],
        "presets": [
          {
            "name": "Single Banner"
          }
       ]      
    }
  {% endschema %}