<section class="sub-page-banner-section">
    <div class="row">
        <div class="col-md-12">
          <div class="information content">
            {%- if section.settings.text_above != blank  and section.settings.text_below != blank -%}
                {% if section.settings.heading != black %}
                <div class="liner-continer">             
                  <h4 class="title"><span class="title-separator"></span> {{section.settings.heading}}</h4>         
                </div>
                {% endif %}
                   {{section.settings.text_above}}
                 <span class="btn read_more">{{section.settings.read_more}}</span>
                 <div class="more_text">
                   {{section.settings.text_below}}
                    <span class="btn read_more">{{section.settings.read_less}}</span>
                </div>      
            {%- endif -%}            
          </div>            
        </div>
    </div>
</section>
  
  {% schema %}
    {
    "name": "text-with-read-more",
    "class": "text-with-read-more",
        "settings": [
            {
            "type": "text",
            "id": "heading",
            "label": "Heading"
            },
            {
            "type": "richtext",
            "id": "text_above",
            "label": "Before Read More Text"
            },{
            "type": "text",
            "id": "read_more",
            "label": "Read More Text"
            },
            {
            "type": "richtext",
            "id": "text_below",
            "label": "After Read More Text"
            },{
            "type": "text",
            "id": "read_less",
            "label": "Read Less Text"
            }
        ],
        "presets": [
          {
            "name": "text-with-read-more"
          }
       ]      
    }
  {% endschema %}