{%- comment -%}
  Teathemes https://teathemes.net/forums/
{%- endcomment -%}
{%- case settings.design_products -%}
   {%- when '1' -%}
      {%- assign design_products_page = "product-design-default" -%}
   {%- when '2' -%}
      {%- assign design_products_page = "product-design-alt" -%}
   {%- when '3' -%}
      {%- assign design_products_page = "product-design-sticky" -%}
   {%- when '4' -%}
      {%- assign design_products_page = "product-design-compact" -%}
   {%- endcase -%}
<div class="main-page-wrapper">
    <!-- MAIN CONTENT AREA -->
      <div class="container-fluid">
         <div class="row">
            <div class="site-content col-sm-12" role="main">
              {%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
              {%- include 'product_page_area' -%}
            </div><!-- .site-content -->
            <div class="clearfix"></div>
            {%- if settings.show_related_products or settings.show_recently_products or product.metafields.meta.hashtag != blank -%}
            <div class="container related-and-upsells">
              {%- if settings.show_related_products -%}
                  {%- if settings.related_image_size != blank -%}{%- assign crop_nt = settings.related_image_size -%}{%- endif -%}
                  {%- assign loop_countdown = settings.loop_related_countdown -%}
                  {%- case settings.related_products_use -%}
                     {%- when 'use_collection' -%}
                        {%- include 'related-products-sectioned' -%}
                     {%- when 'handle' -%}
                        {%- include 'related-products-by-handle' -%}
                     {%- else -%}
                         {%- include 'related-products-by-tags' -%}
                  {%- endcase -%}
              {%-endif-%}
              {%- if settings.show_recently_products and pages['recently-viewed-products'].empty? != true -%}{%- include 'gl-recently-viewed' -%}{%-endif-%}
              {%- if product.metafields.meta.hashtag != blank and product.metafields.meta.hashtag contains '#' -%}
              <div class="basel-product-instagram">
                <p class="product-instagram-intro">{{ 'products.product.instagram_intro_html' | t: has_tag: product.metafields.meta.hashtag }}</p>
                <div id="carousel-{{product.id}}" class="instagram-widget instagram-per-row-4"><ul class="instagram-pics"></ul></div>
              </div>
              {%- elsif product.metafields.meta.username != blank -%}
              <div class="basel-product-instagram">
                <p class="product-instagram-intro">{{ 'products.product.instagram_intro_html' | t: has_tag: product.metafields.meta.username }}</p>
                <div id="carousel-{{product.id}}" class="instagram-widget instagram-per-row-4"><ul class="instagram-pics"></ul></div>
              </div>
              {%- endif -%}
              <div id="ReviewSection">
                <h3 class="review-heading">Customer Reviews for {{ product.vendor }}</h3>
               <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&amp;','%26'}}" data-description="{{ product.description | escape }}" data-price="{{ variant.price | money_without_currency }}" data-currency="{{ shop.currency }}"></div>
              </div>
              </div>
            {%-endif-%}
         </div><!-- end row -->
      </div><!-- end container -->
      <!-- end container -->
</div><!-- .main-page-wrapper -->
