{% layout none %}
  {% assign bc_settings = shop.metafields.bc-sf-filter.settings %}
  {% assign active_vendor = true %}
  {% assign active_description = true %}
  {% assign active_cart_form = true %}
  {% assign active_price = true %}
  {% assign view_full_label = 'View Full Details' %}
  {% if bc_settings contains 'qvViewFullDetails' %}
    {% assign view_full_label = bc_settings | split: 'qvViewFullDetails":' | last | split: ',' | first | replace: '"', '' | strip %}
  {% endif %}
  {% assign quantity_label = 'Quantity' %}
  {% if bc_settings contains 'qvQuantity' %}
    {% assign quantity_label = bc_settings | split: 'qvQuantity":' | last | split: ',' | first | replace: '"', '' | strip %}
  {% endif %}
  {% assign add_to_cart_btn_label = 'Add To Cart' %}
  {% if bc_settings contains 'qvAddToCartBtnLabel' %}
    {% assign add_to_cart_btn_label = bc_settings | split: 'qvAddToCartBtnLabel":' | last | split: ',' | first | replace: '"', '' | strip %}
  {% endif %}
  {% assign sold_out_btn_label = 'Sold Out' %}
  {% if bc_settings contains 'qvSoldOutLabel' %}
    {% assign sold_out_btn_label = bc_settings | split: 'qvSoldOutLabel":' | last | split: ',' | first | replace: '"', '' | strip %}
  {% endif %}
  {% assign image_size = 'grande' %}
  {% assign image_thumb_size = '150x' %}
  {% assign image_scale = 3 %}
  {% assign truncate_words = 30 %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  <div class="bc-quickview-overlay"></div>
  <div class="bc-quickview-wrapper ">
    <div class="bc-quickview-popup-icon-close"></div>
    <div class="bc-quickview-content">
      <div class="bc-quickview-left bc-quickview-product-thumbs">
        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <div class="bc-quickview-featured-image-wrapper" id="bc-quickview-featured-image-wrapper">
          <img src="{{ featured_image | img_url: image_size }}" alt="{{ featured_image.alt | escape }}" class="bc-quickview-featured-image" id="bc-quickview-featured-image"/>
        </div>
        {% if product.images.size > 1 %}
        <div class="bc-quickview-product-thumbs-list" id="bc-quickview-product-thumbs-list">
          <div class="bc-quickview-thumbs-item selected">
            <img data-main-src="{{ featured_image | img_url: image_size }}" src="{{ featured_image | img_url: image_thumb_size }}" alt="{{ featured_image.alt | escape }}" class="bc-quickview-thumbs-image"/>
          </div>
          {% for image in product.images %}
          {% unless featured_image == image.src %}
          <div class="bc-quickview-thumbs-item">
            <img data-main-src="{{ image.src | img_url: image_size }}" src="{{ image.src | img_url: image_thumb_size }}" alt="{{ image.alt | escape }}" class="bc-quickview-thumbs-image"/>
          </div>
          {% endunless %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="bc-quickview-right product-details">
        <h1 class="bc-quickview-title">{{ product.title }}</h1>
        {% if active_vendor %}
        <p class="bc-quickview-vendor">{{ product.vendor }}</p>
        {% endif %}
        {% if active_description %}
        <div class="bc-quickview-description">
          {{ product.description | strip_html | truncatewords: truncate_words }}
        </div>
        {% endif %}
        <a href="{{ product.url | within_collection }}" class="bc-quickview-view-full">{{ view_full_label }}</a>
        <div class="bc-quickview-line"></div>
        {% if active_price %}
        <div class="bc-quickview-price-wrapper {% unless current_variant.available %} bc-quickview-price-sold-out{% endunless %} {% if current_variant.compare_at_price > current_variant.price %} bc-quickview-price-on-sale{% endif %}">
            <p class="bc-quickview-price">
              {% if current_variant.compare_at_price > current_variant.price %}
                <span id="bc-quickview-current-price" class="h3 money bc-quickview-price sale">
                  {{ current_variant.price | money }}
                </span>
                <span id="bc-quickview-was-price" class="h3 money bc-quickview-price bc-quickview-was-price">
                  {{ current_variant.compare_at_price | money }}
                </span>
              {% else %}
                <span id="bc-quickview-current-price" class="h3 money bc-quickview-price">
                  {{ current_variant.price | money }}
                </span>
                <span id="bc-quickview-was-price" class="h3 money bc-quickview-price bc-quickview-was-price"></span>
              {% endif %}
            </p>
        </div>
        {% endif %}
        {% if active_cart_form %}
        <form id="bc-quickview-cart-form" action="/cart/add" method="post" enctype="multipart/form-data" class="bc-quickview-cart-form product-form">
          <select data-bc-options-size="{{product.options_with_values | size}}" style="display:none" name="id" id="bc-quickview-variants-selector" class="bc-quickview-variants-selector">
            {% for variant in product.variants %}
              {% if variant.image != blank %}
                {% assign variant_image = variant.image %}
              {% else %}
                {% assign variant_image = featured_image %}
              {% endif %}
              {% if variant.available %}
                <option data-available="true" data-magnify-src="{{ variant_image | img_url: image_size, scale: image_scale }}" data-featured-image="{{ variant_image | img_url: image_size }}" data-variant-id="{{ variant.id }}" data-options="{{ variant.title }}" data-current-price-without-currency="{{ variant.price | money_without_currency }}" data-current-price="{{ variant.price | money | strip_html }}" data-was-price-without-currency="{{ variant.compare_at_price | money_without_currency }}" data-was-price="{{ variant.compare_at_price | money | strip_html }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}"></option>
              {% else %}
                <option data-available="false" disabled="disabled" data-magnify-src="{{ variant_image | img_url: image_size, scale: image_scale }}" data-featured-image="{{ variant_image | img_url: image_size }}" data-variant-id="{{ variant.id }}" data-options="{{ variant.title }}" data-current-price-without-currency="{{ variant.price | money_without_currency }}" data-current-price="{{ variant.price | money | strip_html }}" data-was-price-without-currency="{{ variant.compare_at_price | money_without_currency }}" data-was-price="{{ variant.compare_at_price | money | strip_html }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}"></option>
              {% endif %}
            {% endfor %}
          </select>
          {% assign option_size = product.options_with_values | size %}
          {% if option_size > 0 %}
            {% for option in product.options_with_values %}
            {% unless option.values contains "Default Title" %}
            {% assign index = forloop.index %}
            <div class="selector-wrapper bc-quickview-selector-wrapper {% if index == option_size %}last{% endif %}">
              <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="bc-quicview-single-option-selector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <select class="bc-quickview-single-option-selector single-option-selector single-option-selector-{{ section.id }}" id="bc-quicview-single-option-selector-{{ forloop.index0 }}" data-single-option-selector-index="option{{ forloop.index }}">
                {% for value in option.values %}
                <option value="{{ value | escape }}" {% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            {% endunless %}
            {% endfor %}
          {% endif %}
          <div class="bc-quickview-qty-cartbtn-wrapper">
            <label for="bc-quickview-cart-quantity">{{ quantity_label }}</label>
            <div class="bc-quickview-qty-cartbtn">
              <div class="bc-quickview-quantity">
                <input type="number" id="bc-quickview-cart-quantity" name="quantity" value="1" min="1" class="bc-quickview-cart-quantity" pattern="[0-9]*">
              </div>
              <div class="bc-quickview-cart">
                <button type="submit" name="add" id="bc-quickview-cart-btn" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn bc-quickview-cart-btn{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                  <span id="bc-quickview-cart-btn-text">
                    {% unless current_variant.available %}
                      {{ sold_out_btn_label }}
                    {% else %}
                      {{ add_to_cart_btn_label }}
                    {% endunless %}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
