{% capture hidden_page_unless_authorized %}
<!-- spurit_po-added -->
{% include 'spurit_po-product-snippet' %}
<!-- /spurit_po-added -->
{%- comment -%}
  Teathemes https://teathemes.net/forums/
{%- endcomment -%}

{% assign emailCust =  '' %}
{% assign setHashedEmail = 'setEmail' %}
{% if customer %}
	  {% assign emailCust = customer.email | remove: ' ' | strip_newlines | downcase | md5 %}
		{% assign setHashedEmail = 'setHashedEmail' %}
	{% else %}
  {% assign emailCust = emailCust | remove: ' ' | strip_newlines | downcase | md5 %}
{% assign setHashedEmail = 'setEmail' %}
{% endif %}
   <script type="text/javascript" src="https://static.criteo.net/js/ld/ld.js?shop=couture-candy.myshopify.com" async="true"></script>
<script type="text/javascript">

window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
	{ event: "setAccount", account: 29071 },
    { event: "{{setHashedEmail}}", email: "{{emailCust}}" },
	{ event: "setSiteType", type: checkDevice },
	{ event: "viewItem", item: "{{product.id}}" }
);
</script>
{%- case settings.design_products -%}
   {%- when '1' -%}
      {%- assign design_products_page = "product-design-default" -%}
   {%- when '2' -%}
      {%- assign design_products_page = "product-design-alt" -%}
   {%- when '3' -%}
      {%- assign design_products_page = "product-design-sticky" -%}
   {%- when '4' -%}
      {%- assign design_products_page = "product-design-compact" -%}
   {%- endcase -%}
<div class="main-page-wrapper">
    <!-- MAIN CONTENT AREA -->
      <div class="container-fluid">
         <div class="row">
            <div class="site-content col-sm-12" role="main">
              {%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
              {%- include 'product_page_area' -%}
            </div><!-- .site-content -->
            <div class="clearfix"></div>
            {%- if settings.show_related_products or settings.show_recently_products or product.metafields.meta.hashtag != blank -%}
            <div class="container related-and-upsells">
              {%- if settings.show_related_products -%}
                  {%- if settings.related_image_size != blank -%}{%- assign crop_nt = settings.related_image_size -%}{%- endif -%}
                  {%- assign loop_countdown = settings.loop_related_countdown -%}
                  {%- case settings.related_products_use -%}
                     {%- when 'use_collection' -%}
                        {%- include 'related-products-sectioned' -%}
                     {%- when 'handle' -%}
                        {%- include 'related-products-by-handle' -%}
                     {%- else -%}
                         {%- include 'related-products-by-tags' -%}
                  {%- endcase -%}
              {%-endif-%}
              {%- if settings.show_recently_products and pages['recently-viewed-products'].empty? != true -%}{%- include 'gl-recently-viewed' -%}{%-endif-%}
              {%- if product.metafields.meta.hashtag != blank and product.metafields.meta.hashtag contains '#' -%}
              <div class="basel-product-instagram">
                <p class="product-instagram-intro">{{ 'products.product.instagram_intro_html' | t: has_tag: product.metafields.meta.hashtag }}</p>
                <div id="carousel-{{product.id}}" class="instagram-widget instagram-per-row-4"><ul class="instagram-pics"></ul></div>
              </div>
              {%- elsif product.metafields.meta.username != blank -%}
              <div class="basel-product-instagram">
                <p class="product-instagram-intro">{{ 'products.product.instagram_intro_html' | t: has_tag: product.metafields.meta.username }}</p>
                <div id="carousel-{{product.id}}" class="instagram-widget instagram-per-row-4"><ul class="instagram-pics"></ul></div>
              </div>
              {%- endif -%}
              <div id="ReviewSection">
                <h3 class="review-heading">Customer Reviews for {{ product.vendor }}</h3>
                  <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}">
{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
  {%- assign time_now = 'now' | date: '%s' %}
  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
  {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
  {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' %}
  {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
  {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
    {%- assign yotpo_main_widget_obsolete = false %}
  {%- else %}
    {%- assign yotpo_main_widget_obsolete = true %}
  {%- endif %}
  {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
    {%- for field in product.metafields.yotpo_reviews -%}
      {{ field | last }}
    {%- endfor -%}
  {%- endif %}
</div>

                 {% include 'products.custom_fields' %}
              </div>
              </div>
            {%-endif-%}
         </div><!-- end row -->
      </div><!-- end container -->
      <!-- end container -->
</div><!-- .main-page-wrapper -->
{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | strip_html | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if current_variant.sku != blank %}
  "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "description": "{{ product.description | strip_html | escape | remove:'"' | truncatewords: 30 }}",
  "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
  {% if product.variants %}
    "offers": [
            {
              "@type": "Offer",
              "priceValidUntil" :"{{ "now" | date: "%Y-%m-%d" }}",
              "price": "{{ current_variant.price | money_without_currency }}",
              "priceCurrency": "{{ shop.currency }}",
              "availability": "http://schema.org/{%- if product.available -%}InStock{%- else -%}OutOfStock{%- endif -%}",
              "url": "{{ shop.url | append: '/products/' | append: product.handle }}",
              "seller": {
                "@type": "Organization",
                "name": "{{ shop.name }}",
                "url": "{{shop.url}}"
              }
            }
          ]
  {% endif %}
  {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %},
       "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{ product.metafields.yotpo.reviews_average }}",
            "reviewCount": "{{ product.metafields.yotpo.reviews_count }}"
          }
    {% endif %}
}
</script>
{% endcapture %}{% include 'hidden-collections.require-authorization' %}


<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=bd0b31d4-a0b6-4036-868a-27a0e13ed47a"></script>